## Encoding:
```    
    is used to convert the object dataype into numerical datatype. it converts the unique values of the object column into numerical values.
    
```

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('autos_dataset.csv')
df.T

,0,1,2,3,4,5,6,7,8,9,...,195,196,197,198,199,200,201,202,203,204
symboling,3,3,1,2,2,2,1,1,1,0,...,-1,-2,-1,-2,-1,-1,-1,-1,-1,-1
normalized-losses,?,?,?,164,164,?,158,?,158,?,...,74,103,74,103,74,95,95,95,95,95
make,alfa-romero,alfa-romero,alfa-romero,audi,audi,audi,audi,audi,audi,audi,...,volvo,volvo,volvo,volvo,volvo,volvo,volvo,volvo,volvo,volvo
fuel-type,gas,gas,gas,gas,gas,gas,gas,gas,gas,gas,...,gas,gas,gas,gas,gas,gas,gas,gas,diesel,gas
aspiration,std,std,std,std,std,std,std,std,turbo,turbo,...,std,std,std,turbo,turbo,std,turbo,std,turbo,turbo
num-of-doors,two,two,two,four,four,two,four,four,four,two,...,four,four,four,four,four,four,four,four,four,four
body-style,convertible,convertible,hatchback,sedan,sedan,sedan,sedan,wagon,sedan,hatchback,...,wagon,sedan,wagon,sedan,wagon,sedan,sedan,sedan,sedan,sedan
drive-wheels,rwd,rwd,rwd,fwd,4wd,fwd,fwd,fwd,fwd,4wd,...,rwd,rwd,rwd,rwd,rwd,rwd,rwd,rwd,rwd,rwd
engine-location,front,front,front,front,front,front,front,front,front,front,...,front,front,front,front,front,front,front,front,front,front
wheel-base,88.6,88.6,94.5,99.8,99.4,99.8,105.8,105.8,105.8,99.5,...,104.3,104.3,104.3,104.3,104.3,109.1,109.1,109.1,109.1,109.1
length,168.8,168.8,171.2,176.6,176.6,177.3,192.7,192.7,192.7,178.2,...,188.8,188.8,188.8,188.8,188.8,188.8,188.8,188.8,188.8,188.8
width,64.1,64.1,65.5,66.2,66.4,66.3,71.4,71.4,71.4,67.9,...,67.2,67.2,67.2,67.2,67.2,68.9,68.8,68.9,68.9,68.9
height,48.8,48.8,52.4,54.3,54.3,53.1,55.7,55.7,55.9,52.0,...,57.5,56.2,57.5,56.2,57.5,55.5,55.5,55.5,55.5,55.5
curb-weight,2548,2548,2823,2337,2824,2507,2844,2954,3086,3053,...,3034,2935,3042,3045,3157,2952,3049,3012,3217,3062
engine-type,dohc,dohc,ohcv,ohc,ohc,ohc,ohc,ohc,ohc,ohc,...,ohc,ohc,ohc,ohc,ohc,ohc,ohc,ohcv,ohc,ohc
num-of-cylinders,four,four,six,four,five,five,five,five,five,five,...,four,four,four,four,four,four,four,six,six,four
engine-size,130,130,152,109,136,136,136,136,131,131,...,141,141,141,130,130,141,141,173,145,141
fuel-system,mpfi,mpfi,mpfi,mpfi,mpfi,mpfi,mpfi,mpfi,mpfi,mpfi,...,mpfi,mpfi,mpfi,mpfi,mpfi,mpfi,mpfi,mpfi,idi,mpfi
bore,3.47,3.47,2.68,3.19,3.19,3.19,3.19,3.19,3.13,3.13,...,3.78,3.78,3.78,3.62,3.62,3.78,3.78,3.58,3.01,3.78
stroke,2.68,2.68,3.47,3.4,3.4,3.4,3.4,3.4,3.4,3.4,...,3.15,3.15,3.15,3.15,3.15,3.15,3.15,2.87,3.4,3.15
compression-ratio,9.0,9.0,9.0,10.0,8.0,8.5,8.5,8.5,8.3,7.0,...,9.5,9.5,9.5,7.5,7.5,9.5,8.7,8.8,23.0,9.5
horsepower,111,111,154,102,115,110,110,110,140,160,...,114,114,114,162,162,114,160,134,106,114
peak-rpm,5000,5000,5000,5500,5500,5500,5500,5500,5500,5500,...,5400,5400,5400,5100,5100,5400,5300,5500,4800,5400
city-mpg,21,21,19,24,18,19,19,19,17,16,...,23,24,24,17,17,23,19,18,26,19
highway-mpg,27,27,26,30,22,25,25,25,20,22,...,28,28,28,22,22,28,25,23,27,25
price,13495,16500,16500,13950,17450,15250,17710,18920,23875,?,...,13415,15985,16515,18420,18950,16845,19045,21485,22470,22625

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [4]:
df.replace({'?':np.nan},inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [6]:
len(df.columns)

26

In [7]:
(df.columns)

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [8]:
df['num-of-doors'].unique()

array(['two', 'four', nan], dtype=object)

In [9]:
df['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [10]:
df.drop(['num-of-doors','make','fuel-type','aspiration','body-style', 'drive-wheels', 'engine-location','engine-type','fuel-system'],axis=1,inplace=True)

In [11]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,195,196,197,198,199,200,201,202,203,204
symboling,3,3,1,2,2,2,1,1,1,0,...,-1,-2,-1,-2,-1,-1,-1,-1,-1,-1
normalized-losses,NaN,NaN,NaN,164,164,NaN,158,NaN,158,NaN,...,74,103,74,103,74,95,95,95,95,95
wheel-base,88.6,88.6,94.5,99.8,99.4,99.8,105.8,105.8,105.8,99.5,...,104.3,104.3,104.3,104.3,104.3,109.1,109.1,109.1,109.1,109.1
length,168.8,168.8,171.2,176.6,176.6,177.3,192.7,192.7,192.7,178.2,...,188.8,188.8,188.8,188.8,188.8,188.8,188.8,188.8,188.8,188.8
width,64.1,64.1,65.5,66.2,66.4,66.3,71.4,71.4,71.4,67.9,...,67.2,67.2,67.2,67.2,67.2,68.9,68.8,68.9,68.9,68.9
height,48.8,48.8,52.4,54.3,54.3,53.1,55.7,55.7,55.9,52.0,...,57.5,56.2,57.5,56.2,57.5,55.5,55.5,55.5,55.5,55.5
curb-weight,2548,2548,2823,2337,2824,2507,2844,2954,3086,3053,...,3034,2935,3042,3045,3157,2952,3049,3012,3217,3062
num-of-cylinders,four,four,six,four,five,five,five,five,five,five,...,four,four,four,four,four,four,four,six,six,four
engine-size,130,130,152,109,136,136,136,136,131,131,...,141,141,141,130,130,141,141,173,145,141
bore,3.47,3.47,2.68,3.19,3.19,3.19,3.19,3.19,3.13,3.13,...,3.78,3.78,3.78,3.62,3.62,3.78,3.78,3.58,3.01,3.78
stroke,2.68,2.68,3.47,3.4,3.4,3.4,3.4,3.4,3.4,3.4,...,3.15,3.15,3.15,3.15,3.15,3.15,3.15,2.87,3.4,3.15
compression-ratio,9.0,9.0,9.0,10.0,8.0,8.5,8.5,8.5,8.3,7.0,...,9.5,9.5,9.5,7.5,7.5,9.5,8.7,8.8,23.0,9.5
horsepower,111,111,154,102,115,110,110,110,140,160,...,114,114,114,162,162,114,160,134,106,114
peak-rpm,5000,5000,5000,5500,5500,5500,5500,5500,5500,5500,...,5400,5400,5400,5100,5100,5400,5300,5500,4800,5400
city-mpg,21,21,19,24,18,19,19,19,17,16,...,23,24,24,17,17,23,19,18,26,19
highway-mpg,27,27,26,30,22,25,25,25,20,22,...,28,28,28,22,22,28,25,23,27,25
price,13495,16500,16500,13950,17450,15250,17710,18920,23875,NaN,...,13415,15985,16515,18420,18950,16845,19045,21485,22470,22625

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   wheel-base         205 non-null    float64
 3   length             205 non-null    float64
 4   width              205 non-null    float64
 5   height             205 non-null    float64
 6   curb-weight        205 non-null    int64
 7   num-of-cylinders   205 non-null    object
 8   engine-size        205 non-null    int64
 9   bore               201 non-null    object
 10  stroke             201 non-null    object
 11  compression-ratio  205 non-null    float64
 12  horsepower         203 non-null    object
 13  peak-rpm           203 non-null    object
 14  city-mpg           205 non-null    int64
 15  highway-mpg        205 non-null    int64
 16  price              201 non-null    object
dtypes: float64(5), int64(5), object(7)
memory usage: 27.4+ KB

In [13]:
df.fillna(df.median(),inplace=True)

In [14]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,195,196,197,198,199,200,201,202,203,204
symboling,3,3,1,2,2,2,1,1,1,0,...,-1,-2,-1,-2,-1,-1,-1,-1,-1,-1
normalized-losses,115.0,115.0,115.0,164,164,115.0,158,115.0,158,115.0,...,74,103,74,103,74,95,95,95,95,95
wheel-base,88.6,88.6,94.5,99.8,99.4,99.8,105.8,105.8,105.8,99.5,...,104.3,104.3,104.3,104.3,104.3,109.1,109.1,109.1,109.1,109.1
length,168.8,168.8,171.2,176.6,176.6,177.3,192.7,192.7,192.7,178.2,...,188.8,188.8,188.8,188.8,188.8,188.8,188.8,188.8,188.8,188.8
width,64.1,64.1,65.5,66.2,66.4,66.3,71.4,71.4,71.4,67.9,...,67.2,67.2,67.2,67.2,67.2,68.9,68.8,68.9,68.9,68.9
height,48.8,48.8,52.4,54.3,54.3,53.1,55.7,55.7,55.9,52.0,...,57.5,56.2,57.5,56.2,57.5,55.5,55.5,55.5,55.5,55.5
curb-weight,2548,2548,2823,2337,2824,2507,2844,2954,3086,3053,...,3034,2935,3042,3045,3157,2952,3049,3012,3217,3062
num-of-cylinders,four,four,six,four,five,five,five,five,five,five,...,four,four,four,four,four,four,four,six,six,four
engine-size,130,130,152,109,136,136,136,136,131,131,...,141,141,141,130,130,141,141,173,145,141
bore,3.47,3.47,2.68,3.19,3.19,3.19,3.19,3.19,3.13,3.13,...,3.78,3.78,3.78,3.62,3.62,3.78,3.78,3.58,3.01,3.78
stroke,2.68,2.68,3.47,3.4,3.4,3.4,3.4,3.4,3.4,3.4,...,3.15,3.15,3.15,3.15,3.15,3.15,3.15,2.87,3.4,3.15
compression-ratio,9.0,9.0,9.0,10.0,8.0,8.5,8.5,8.5,8.3,7.0,...,9.5,9.5,9.5,7.5,7.5,9.5,8.7,8.8,23.0,9.5
horsepower,111,111,154,102,115,110,110,110,140,160,...,114,114,114,162,162,114,160,134,106,114
peak-rpm,5000,5000,5000,5500,5500,5500,5500,5500,5500,5500,...,5400,5400,5400,5100,5100,5400,5300,5500,4800,5400
city-mpg,21,21,19,24,18,19,19,19,17,16,...,23,24,24,17,17,23,19,18,26,19
highway-mpg,27,27,26,30,22,25,25,25,20,22,...,28,28,28,22,22,28,25,23,27,25
price,13495,16500,16500,13950,17450,15250,17710,18920,23875,10295.0,...,13415,15985,16515,18420,18950,16845,19045,21485,22470,22625

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   wheel-base         205 non-null    float64
 3   length             205 non-null    float64
 4   width              205 non-null    float64
 5   height             205 non-null    float64
 6   curb-weight        205 non-null    int64
 7   num-of-cylinders   205 non-null    object
 8   engine-size        205 non-null    int64
 9   bore               205 non-null    object
 10  stroke             205 non-null    object
 11  compression-ratio  205 non-null    float64
 12  horsepower         205 non-null    object
 13  peak-rpm           205 non-null    object
 14  city-mpg           205 non-null    int64
 15  highway-mpg        205 non-null    int64
 16  price              205 non-null    object
dtypes: float64(5), int64(5), object(7)
memory usage: 27.4+ KB

In [16]:
df['bore']=df['bore'].astype(float)
df['normalized-losses']=df['normalized-losses'].astype(float)
df['stroke']=df['stroke'].astype(float)
df['horsepower']=df['horsepower'].astype(float)
df['peak-rpm']=df['peak-rpm'].astype(float)
df['price']=df['price'].astype(float)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   wheel-base         205 non-null    float64
 3   length             205 non-null    float64
 4   width              205 non-null    float64
 5   height             205 non-null    float64
 6   curb-weight        205 non-null    int64
 7   num-of-cylinders   205 non-null    object
 8   engine-size        205 non-null    int64
 9   bore               205 non-null    float64
 10  stroke             205 non-null    float64
 11  compression-ratio  205 non-null    float64
 12  horsepower         205 non-null    float64
 13  peak-rpm           205 non-null    float64
 14  city-mpg           205 non-null    int64
 15  highway-mpg        205 non-null    int64
 16  price              205 non-null    float64
dtypes: float64(11), int64(5), object(1)
memory usage: 27.4+ KB

In [18]:
df['num-of-cylinders'].nunique()

7

In [19]:
df['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [68]:
df1=df.copy()
df2=df.copy()
df3=df.copy()
df4=df.copy()

### Simplest Encoding: replacing the distinct values of the columns with relevant numbers

In [72]:
df1['num-of-cylinders'].replace({'four':4, 'six':6, 'five':5, 'three':3, 'twelve':12, 'two':2, 'eight':8},inplace=True)

In [73]:
df1['num-of-cylinders'].dtype

dtype('int64')

In [23]:
df1.T

,0,1,2,3,4,5,6,7,8,9,...,195,196,197,198,199,200,201,202,203,204
symboling,3.00,3.00,1.00,2.00,2.00,2.00,1.00,1.00,1.00,0.00,...,-1.00,-2.00,-1.00,-2.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00
normalized-losses,115.00,115.00,115.00,164.00,164.00,115.00,158.00,115.00,158.00,115.00,...,74.00,103.00,74.00,103.00,74.00,95.00,95.00,95.00,95.00,95.00
wheel-base,88.60,88.60,94.50,99.80,99.40,99.80,105.80,105.80,105.80,99.50,...,104.30,104.30,104.30,104.30,104.30,109.10,109.10,109.10,109.10,109.10
length,168.80,168.80,171.20,176.60,176.60,177.30,192.70,192.70,192.70,178.20,...,188.80,188.80,188.80,188.80,188.80,188.80,188.80,188.80,188.80,188.80
width,64.10,64.10,65.50,66.20,66.40,66.30,71.40,71.40,71.40,67.90,...,67.20,67.20,67.20,67.20,67.20,68.90,68.80,68.90,68.90,68.90
height,48.80,48.80,52.40,54.30,54.30,53.10,55.70,55.70,55.90,52.00,...,57.50,56.20,57.50,56.20,57.50,55.50,55.50,55.50,55.50,55.50
curb-weight,2548.00,2548.00,2823.00,2337.00,2824.00,2507.00,2844.00,2954.00,3086.00,3053.00,...,3034.00,2935.00,3042.00,3045.00,3157.00,2952.00,3049.00,3012.00,3217.00,3062.00
num-of-cylinders,4.00,4.00,6.00,4.00,5.00,5.00,5.00,5.00,5.00,5.00,...,4.00,4.00,4.00,4.00,4.00,4.00,4.00,6.00,6.00,4.00
engine-size,130.00,130.00,152.00,109.00,136.00,136.00,136.00,136.00,131.00,131.00,...,141.00,141.00,141.00,130.00,130.00,141.00,141.00,173.00,145.00,141.00
bore,3.47,3.47,2.68,3.19,3.19,3.19,3.19,3.19,3.13,3.13,...,3.78,3.78,3.78,3.62,3.62,3.78,3.78,3.58,3.01,3.78
stroke,2.68,2.68,3.47,3.40,3.40,3.40,3.40,3.40,3.40,3.40,...,3.15,3.15,3.15,3.15,3.15,3.15,3.15,2.87,3.40,3.15
compression-ratio,9.00,9.00,9.00,10.00,8.00,8.50,8.50,8.50,8.30,7.00,...,9.50,9.50,9.50,7.50,7.50,9.50,8.70,8.80,23.00,9.50
horsepower,111.00,111.00,154.00,102.00,115.00,110.00,110.00,110.00,140.00,160.00,...,114.00,114.00,114.00,162.00,162.00,114.00,160.00,134.00,106.00,114.00
peak-rpm,5000.00,5000.00,5000.00,5500.00,5500.00,5500.00,5500.00,5500.00,5500.00,5500.00,...,5400.00,5400.00,5400.00,5100.00,5100.00,5400.00,5300.00,5500.00,4800.00,5400.00
city-mpg,21.00,21.00,19.00,24.00,18.00,19.00,19.00,19.00,17.00,16.00,...,23.00,24.00,24.00,17.00,17.00,23.00,19.00,18.00,26.00,19.00
highway-mpg,27.00,27.00,26.00,30.00,22.00,25.00,25.00,25.00,20.00,22.00,...,28.00,28.00,28.00,22.00,22.00,28.00,25.00,23.00,27.00,25.00
price,13495.00,16500.00,16500.00,13950.00,17450.00,15250.00,17710.00,18920.00,23875.00,10295.00,...,13415.00,15985.00,16515.00,18420.00,18950.00,16845.00,19045.00,21485.00,22470.00,22625.00

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   wheel-base         205 non-null    float64
 3   length             205 non-null    float64
 4   width              205 non-null    float64
 5   height             205 non-null    float64
 6   curb-weight        205 non-null    int64
 7   num-of-cylinders   205 non-null    object
 8   engine-size        205 non-null    int64
 9   bore               205 non-null    float64
 10  stroke             205 non-null    float64
 11  compression-ratio  205 non-null    float64
 12  horsepower         205 non-null    float64
 13  peak-rpm           205 non-null    float64
 14  city-mpg           205 non-null    int64
 15  highway-mpg        205 non-null    int64
 16  price              205 non-null    float64
dtypes: float64(11), int64(5), object(1)
memory usage: 27.4+ KB

### Label Encoder

In [26]:
sorted(df['num-of-cylinders'].unique())

['eight', 'five', 'four', 'six', 'three', 'twelve', 'two']

In [27]:
#creating an instance
label_enco=LabelEncoder()
label_enco.fit_transform(df['num-of-cylinders'])
# label_enco.fit_transform(df['num-of-cylinders'],dtype='float64')

array([2, 2, 3, 2, 1, 1, 1, 1, 1, 1, 2, 2, 3, 3, 3, 3, 3, 3, 4, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 3, 3, 5, 2, 2, 2, 2, 2, 6, 6, 6, 6, 2, 2, 2, 2, 2, 2, 2,
       2, 1, 1, 1, 1, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 0, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 3, 3, 2])

In [28]:
df['num-of-cylinders']

0      four
1      four
2       six
3      four
4      five
       ...
200    four
201    four
202     six
203     six
204    four
Name: num-of-cylinders, Length: 205, dtype: object

### One Hot Encoder

In [29]:
df3

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,115.0,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,115.0,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,115.0,94.5,171.2,65.5,52.4,2823,six,152,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,99.8,176.6,66.2,54.3,2337,four,109,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,99.4,176.6,66.4,54.3,2824,five,136,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,109.1,188.8,68.9,55.5,2952,four,141,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,109.1,188.8,68.8,55.5,3049,four,141,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,109.1,188.8,68.9,55.5,3012,six,173,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,109.1,188.8,68.9,55.5,3217,six,145,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,109.1,188.8,68.9,55.5,3062,four,141,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [38]:
one_hot_enco=OneHotEncoder()
array=one_hot_enco.fit_transform(df3[['num-of-cylinders']]).toarray()
num_of_cyl=pd.DataFrame(array)
num_of_cyl.columns=(sorted(df['num-of-cylinders'].unique()))
num_of_cyl

     eight  five  four  six  three  twelve  two
0      0.0   0.0   1.0  0.0    0.0     0.0  0.0
1      0.0   0.0   1.0  0.0    0.0     0.0  0.0
2      0.0   0.0   0.0  1.0    0.0     0.0  0.0
3      0.0   0.0   1.0  0.0    0.0     0.0  0.0
4      0.0   1.0   0.0  0.0    0.0     0.0  0.0
..     ...   ...   ...  ...    ...     ...  ...
200    0.0   0.0   1.0  0.0    0.0     0.0  0.0
201    0.0   0.0   1.0  0.0    0.0     0.0  0.0
202    0.0   0.0   0.0  1.0    0.0     0.0  0.0
203    0.0   0.0   0.0  1.0    0.0     0.0  0.0
204    0.0   0.0   1.0  0.0    0.0     0.0  0.0

[205 rows x 7 columns]

In [42]:
new_df=pd.concat([df3,num_of_cyl],axis=1).drop('num-of-cylinders',axis=1).T

In [44]:
new_df.T

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,...,city-mpg,highway-mpg,price,eight,five,four,six,three,twelve,two
0,3.0,115.0,88.6,168.8,64.1,48.8,2548.0,130.0,3.47,2.68,...,21.0,27.0,13495.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,3.0,115.0,88.6,168.8,64.1,48.8,2548.0,130.0,3.47,2.68,...,21.0,27.0,16500.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1.0,115.0,94.5,171.2,65.5,52.4,2823.0,152.0,2.68,3.47,...,19.0,26.0,16500.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,2.0,164.0,99.8,176.6,66.2,54.3,2337.0,109.0,3.19,3.40,...,24.0,30.0,13950.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,2.0,164.0,99.4,176.6,66.4,54.3,2824.0,136.0,3.19,3.40,...,18.0,22.0,17450.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1.0,95.0,109.1,188.8,68.9,55.5,2952.0,141.0,3.78,3.15,...,23.0,28.0,16845.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
201,-1.0,95.0,109.1,188.8,68.8,55.5,3049.0,141.0,3.78,3.15,...,19.0,25.0,19045.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
202,-1.0,95.0,109.1,188.8,68.9,55.5,3012.0,173.0,3.58,2.87,...,18.0,23.0,21485.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
203,-1.0,95.0,109.1,188.8,68.9,55.5,3217.0,145.0,3.01,3.40,...,26.0,27.0,22470.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
204,-1.0,95.0,109.1,188.8,68.9,55.5,3062.0,141.0,3.78,3.15,...,19.0,25.0,22625.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

### Getdummies

In [50]:
df4.loc[df4['num-of-cylinders']=='eight']

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
71,-1,115.0,115.6,202.6,71.7,56.5,3740,eight,234,3.46,3.10,8.3,155.0,4750.0,16,18,34184.0
72,3,142.0,96.6,180.3,70.5,50.8,3685,eight,234,3.46,3.10,8.3,155.0,4750.0,16,18,35056.0
73,0,115.0,120.9,208.1,71.7,56.7,3900,eight,308,3.80,3.35,8.0,184.0,4500.0,14,16,40960.0
74,1,115.0,112.0,199.2,72.0,55.4,3715,eight,304,3.80,3.35,8.0,184.0,4500.0,14,16,45400.0
129,1,115.0,98.4,175.7,72.3,50.5,3366,eight,203,3.94,3.11,10.0,288.0,5750.0,17,28,10295.0

In [47]:
df.get('num-of-cylinders')

0      four
1      four
2       six
3      four
4      five
       ...
200    four
201    four
202     six
203     six
204    four
Name: num-of-cylinders, Length: 205, dtype: object

In [55]:
df_get_dum=pd.get_dummies(df4,columns=['num-of-cylinders'],drop_first=True)
df_get_dum

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,...,peak-rpm,city-mpg,highway-mpg,price,num-of-cylinders_five,num-of-cylinders_four,num-of-cylinders_six,num-of-cylinders_three,num-of-cylinders_twelve,num-of-cylinders_two
0,3,115.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,5000.0,21,27,13495.0,0,1,0,0,0,0
1,3,115.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,5000.0,21,27,16500.0,0,1,0,0,0,0
2,1,115.0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,...,5000.0,19,26,16500.0,0,0,1,0,0,0
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,...,5500.0,24,30,13950.0,0,1,0,0,0,0
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,...,5500.0,18,22,17450.0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,...,5400.0,23,28,16845.0,0,1,0,0,0,0
201,-1,95.0,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,...,5300.0,19,25,19045.0,0,1,0,0,0,0
202,-1,95.0,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,...,5500.0,18,23,21485.0,0,0,1,0,0,0
203,-1,95.0,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,...,4800.0,26,27,22470.0,0,0,1,0,0,0
204,-1,95.0,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,...,5400.0,19,25,22625.0,0,1,0,0,0,0

In [54]:
df_get_dum.loc[71]

symboling                     -1.00
normalized-losses            115.00
wheel-base                   115.60
length                       202.60
width                         71.70
height                        56.50
curb-weight                 3740.00
engine-size                  234.00
bore                           3.46
stroke                         3.10
compression-ratio              8.30
horsepower                   155.00
peak-rpm                    4750.00
city-mpg                      16.00
highway-mpg                   18.00
price                      34184.00
num-of-cylinders_five          0.00
num-of-cylinders_four          0.00
num-of-cylinders_six           0.00
num-of-cylinders_three         0.00
num-of-cylinders_twelve        0.00
num-of-cylinders_two           0.00
Name: 71, dtype: float64

In [69]:
df1

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,115.0,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,115.0,88.6,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,115.0,94.5,171.2,65.5,52.4,2823,six,152,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,99.8,176.6,66.2,54.3,2337,four,109,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,99.4,176.6,66.4,54.3,2824,five,136,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,109.1,188.8,68.9,55.5,2952,four,141,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,109.1,188.8,68.8,55.5,3049,four,141,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,109.1,188.8,68.9,55.5,3012,six,173,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,109.1,188.8,68.9,55.5,3217,six,145,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,109.1,188.8,68.9,55.5,3062,four,141,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [74]:
y=df1['price']
x=df1.drop('price',axis='columns')

In [75]:
x

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,3,115.0,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,9.0,111.0,5000.0,21,27
1,3,115.0,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,9.0,111.0,5000.0,21,27
2,1,115.0,94.5,171.2,65.5,52.4,2823,6,152,2.68,3.47,9.0,154.0,5000.0,19,26
3,2,164.0,99.8,176.6,66.2,54.3,2337,4,109,3.19,3.40,10.0,102.0,5500.0,24,30
4,2,164.0,99.4,176.6,66.4,54.3,2824,5,136,3.19,3.40,8.0,115.0,5500.0,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,109.1,188.8,68.9,55.5,2952,4,141,3.78,3.15,9.5,114.0,5400.0,23,28
201,-1,95.0,109.1,188.8,68.8,55.5,3049,4,141,3.78,3.15,8.7,160.0,5300.0,19,25
202,-1,95.0,109.1,188.8,68.9,55.5,3012,6,173,3.58,2.87,8.8,134.0,5500.0,18,23
203,-1,95.0,109.1,188.8,68.9,55.5,3217,6,145,3.01,3.40,23.0,106.0,4800.0,26,27
204,-1,95.0,109.1,188.8,68.9,55.5,3062,4,141,3.78,3.15,9.5,114.0,5400.0,19,25

In [76]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.15,random_state=1)

In [77]:
linear_model=LinearRegression()

In [79]:
linear_model.fit(x_train,y_train)

LinearRegression()

### Residual

```residual = y_actual - y_predicted```

```residuals = sum (y_actual - y_predicted)```

In [80]:
from sklearn.metrics import mean_squared_error, r2_score
y_pred=linear_model.predict(x_test)
print("mse is", mean_squared_error(y_test,y_pred))
print('r2 score is', r2_score(y_test,y_pred))

mse is 6373925.556034323
r2 score is 0.7030388087119563

In [87]:
df_get_dum

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,...,peak-rpm,city-mpg,highway-mpg,price,num-of-cylinders_five,num-of-cylinders_four,num-of-cylinders_six,num-of-cylinders_three,num-of-cylinders_twelve,num-of-cylinders_two
0,3,115.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,5000.0,21,27,13495.0,0,1,0,0,0,0
1,3,115.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,5000.0,21,27,16500.0,0,1,0,0,0,0
2,1,115.0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,...,5000.0,19,26,16500.0,0,0,1,0,0,0
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,...,5500.0,24,30,13950.0,0,1,0,0,0,0
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,...,5500.0,18,22,17450.0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,...,5400.0,23,28,16845.0,0,1,0,0,0,0
201,-1,95.0,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,...,5300.0,19,25,19045.0,0,1,0,0,0,0
202,-1,95.0,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,...,5500.0,18,23,21485.0,0,0,1,0,0,0
203,-1,95.0,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,...,4800.0,26,27,22470.0,0,0,1,0,0,0
204,-1,95.0,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,...,5400.0,19,25,22625.0,0,1,0,0,0,0

In [88]:
y1=df_get_dum['price']
x1=df_get_dum.drop('price',axis='columns')

In [89]:
x1_train,x1_test,y1_train,y1_test=train_test_split(x1,y1,test_size=0.20,random_state=1)

In [90]:
linear_model=LinearRegression()

In [91]:
linear_model.fit(x1_train,y1_train)

LinearRegression()

In [92]:
y_pred1=linear_model.predict(x1_test)
print("mse is", mean_squared_error(y1_test,y_pred1))
print('r2 score is', r2_score(y1_test,y_pred1))

mse is 16892412.68243778
r2 score is 0.6916233221541136

In [93]:
linear_model.coef_       ##to check the values of m.. (slopes)

array([ 1.79037838e+02, -6.38608417e+00,  8.23527575e+01, -7.19346037e+01,
        3.58371839e+02,  2.58548954e+02, -4.24708221e-01,  2.36668481e+02,
       -4.86139389e+03, -5.29277549e+03,  2.60956233e+02, -1.49374219e+00,
        2.19578626e+00, -7.38278913e+01, -3.73099023e+01,  1.11382293e+04,
        1.07078370e+04,  7.13947704e+03, -1.81898940e-12, -1.53069015e+04,
        2.09729776e+04])

In [95]:
len(x1.columns)

21

In [ ]:
y=m1x1+m2x2+m3x3......m21x21

In [96]:
linear_model.intercept_       ## to check the values of c (intercept)

-35881.97757491145