# Insert

insert (index, value)

In [6]:
list_x=[3,4,6,7]
list_x.insert(2,5)
list_x

[3, 4, 5, 6, 7]

In [7]:
list_x.insert(2,[5,6])

In [9]:
list_x[2]

[5, 6]

In [10]:
list_x

[3, 4, [5, 6], 5, 6, 7]

# delete items from list
remove
pop
del
clear

## remove

remove(item_name)
it removes the first occurance always

In [11]:
list_x.remove([5,6])
list_x

[3, 4, 5, 6, 7]

In [12]:
list_x=[3, 4, 5, 6, 5, 7]
list_x.remove(5)
list_x

[3, 4, 6, 5, 7]

In [13]:
city_names = ['Bangalore','Chennai','Haridwar','Hrishikesh','Barsana']
if 'Chennai' in city_names:
       city_names.remove('Chennai')
        
print(city_names)

['Bangalore', 'Haridwar', 'Hrishikesh', 'Barsana']

## Pop

pop(index)
if we so not pass index then by default it removes the last index value

In [14]:
city_names = ['Bangalore','Chennai','Haridwar','Hrishikesh','Barsana']
city_names.pop(1)
city_names

['Bangalore', 'Haridwar', 'Hrishikesh', 'Barsana']

In [15]:
print(city_names)
city_names.pop()
city_names

['Bangalore', 'Haridwar', 'Hrishikesh', 'Barsana']

['Bangalore', 'Haridwar', 'Hrishikesh']

In [16]:
city_names.pop(-2)
city_names

['Bangalore', 'Hrishikesh']

In [ ]:
x=[]
x.pop()

## Clear

Leave the list empty ----- it deletes all the items from the list

In [19]:
city_names = ['Bangalore','Chennai','Haridwar','Hrishikesh','Barsana']
city_names.clear()
print(type(city_names))
city_names

<class 'list'>

[]

## delete

is used to delete either the entire list or any specific item in the list

In [20]:
city_names = ['Bangalore','Chennai','Haridwar','Hrishikesh','Barsana']
del city_names

In [21]:
city_names

NameError: name 'city_names' is not defined

In [30]:
city_names = ['Bangalore',['Chennai','Madras'],'Haridwar','Hrishikesh','Barsana']
del city_names[-4][0]

In [28]:
city_names

['Bangalore', ['Madras'], 'Haridwar', 'Hrishikesh', 'Barsana']

# Sorting

### Ascending sorting

In [33]:
x = [3,6,4,2,8,9]
x.sort()
x

[2, 3, 4, 6, 8, 9]

In [90]:
x = [3,6,3,2,8,9]
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]>=x[j]:
            x[i],x[j]=x[j],x[i]
x

[2, 3, 3, 6, 8, 9]

### Descending sorting

In [37]:
x = [3,6,4,2,8,9]
x.sort(reverse=True)

In [38]:
x

[9, 8, 6, 4, 3, 2]

In [68]:
city_names = ['Bangalore','Chennai','Haridwar','Hrishikesh','Barsana']
city_names.sort()
city_names

['Bangalore', 'Barsana', 'Chennai', 'Haridwar', 'Hrishikesh']

In [73]:
city_names =[2,'BangAlore']
list1=[]
for i in city_names[1]:
    list1.append(i)
    
list1.sort()
list1

['A', 'B', 'a', 'e', 'g', 'l', 'n', 'o', 'r']

## sorted

In [102]:
x = [3,6,4,2,8,9]
x=sorted(x)
x

[2, 3, 4, 6, 8, 9]

In [101]:
x

[3, 6, 4, 2, 8, 9]

# reverse

In [86]:
x = [3,6,4,2,8,9]
x.sort()
x.reverse()
x

[9, 8, 6, 4, 3, 2]

In [91]:
x = [3,6,4,2,8,9]
x[::-1]

[9, 8, 2, 4, 6, 3]

## Reversed

In [99]:
x = [3,6,4,2,8,9]
y=reversed(x)
list(y)

[9, 8, 2, 4, 6, 3]

In [104]:
l5 = ['Pune','Banglore','Mumbai']
str1 = l5[1].lower()
print(type(str1))
s1 = ''.join(sorted(str1))
print(s1)

<class 'str'>
abeglnor

# Inbuilt Funtion

In [105]:
tuple1=(3,6,2,5)
print(tuple1)
list(tuple1)

(3, 6, 2, 5)

[3, 6, 2, 5]

In [ ]:
list()
max()
min()
all()
any()
sum()
sort()
sorted()
print()
len()
reversed()
reverse()
id()
count()
index()

In [106]:
x = [3,6,4,2,8,2,9,2]
id(x)

2217080342848

In [107]:
x = [3,6,4,2,8,2,9,2]
x.count(2)

3

In [108]:
x = [3,6,4,2,8,2,9,2]
x.index(9)

6

In [109]:
x = [3,6,4,2,8,2,9,2]
x.index(2)

3

## max -return maximum value

In [111]:
x = [3,6,4,2,8,2,9,2]
print(max(x))
print(min(x))
print(sum(x))

9
2
36

##### all returns true if all the items in the list are either True or number, If its false or 0 then it would return false

In [124]:
x=[1,False,True]
all(x)

False

In [125]:
x=[1,0,True]
all(x)

False

In [121]:
x=[1,-6.9,True]
all(x)

True

In [123]:
x= [2,3,4,5]
list1=[]
for i in x:
    if i**2/-5 > 0:
        list1.append(1)
    else:
        list1.append(0)
        
all(list1)

False

##### Any return True is even a single item is True or number & it returns false it all the items are either 0 or False

In [127]:
x=[False,-6.9]
any(x)

True

In [128]:
x=[False,0,0]
any(x)

False

## List Comprehension

In [ ]:
assign the list comprehension into another variable
[operation for loop if statement]

In [130]:
x = [3,6,4,2,8,2,9,2]
z=[]
for i in x: 
    z.append(i**2)   
z

[9, 36, 16, 4, 64, 4, 81, 4]

In [131]:
[i**2 for i in x]

[9, 36, 16, 4, 64, 4, 81, 4]

In [135]:
x = [3,6,4,2,8,2,9,2]
[i**3 for i in x if i%2==0]

[216, 64, 8, 512, 8, 8]

In [ ]:
devision-

devision   - bhajyak
devident   - bhajya
quotient   -bhagakar (/)
remainder  - baki (%)

In [136]:
x = [3,6,4,2,8,2,9,2]
type([i**2 for i in x if i%2 != 0])

list

In [137]:
[i**2 for i in x if i%2 != 0]

[9, 81]

In [144]:
city_names = ['Bangalore','chennai','Haridwar','hrishikesh','Barsana']
title=[item.title() for item in city_names if item.istitle() == False]
title

['Chennai', 'Hrishikesh']

In [146]:
city_names = ['Bangalore','chennai','Haridwar','hrishikesh','Barsana']
title = [item.title() for item in city_names]
title

['Bangalore', 'Chennai', 'Haridwar', 'Hrishikesh', 'Barsana']

In [152]:
x = [3,6,4,2,8,2,9,2]
[index for index, value in enumerate(x)]

[0, 1, 2, 3, 4, 5, 6, 7]

In [153]:
x=[3,6,4,2,8,2,9,2]
[index for index in enumerate(x)]

[(0, 3), (1, 6), (2, 4), (3, 2), (4, 8), (5, 2), (6, 9), (7, 2)]

# Copy

## copy -- Shallow copy

In [156]:
x=[3,6,4,2,8,2,9,2]
print('earlier x is: ',x)
y=x
print('the earlier y is: ',y)
y[0]=100
print('\n',x)
y

earlier x is:  [3, 6, 4, 2, 8, 2, 9, 2]
the earlier y is:  [3, 6, 4, 2, 8, 2, 9, 2]

 [100, 6, 4, 2, 8, 2, 9, 2]

[100, 6, 4, 2, 8, 2, 9, 2]

In [157]:
x=[3,6,4,2,8,2,9,2]
print('earlier x is: ',x)

y=x.copy()
print('the earlier y is: ',y)

y[0]=100
print('\n',x)
y

earlier x is:  [3, 6, 4, 2, 8, 2, 9, 2]
the earlier y is:  [3, 6, 4, 2, 8, 2, 9, 2]

 [3, 6, 4, 2, 8, 2, 9, 2]

[100, 6, 4, 2, 8, 2, 9, 2]

### Deepcopy

In [160]:
from copy import deepcopy
list1=[[2,3],[5,6],[9,8]]

list2=list1
list2[0][0]=100

print(list1,'****', list2)

[[100, 3], [5, 6], [9, 8]] **** [[100, 3], [5, 6], [9, 8]]

In [161]:
list1=[[2,3],[5,6],[9,8]]

list2=list1.copy()
list2[0][0]=100

print(list1,'****', list2)

[[100, 3], [5, 6], [9, 8]] **** [[100, 3], [5, 6], [9, 8]]

In [163]:
from copy import deepcopy
list1=[[2,3],[5,6],[9,8]]

list2=deepcopy(list1)
list2[0][0]=100

print('list1 is: ',list1,'\nlist2 is:', list2)

list1 is:  [[2, 3], [5, 6], [9, 8]]
list2 is: [[100, 3], [5, 6], [9, 8]]

In [164]:
x=[3,6,4,2,8,2,9,2]
print('earlier x is: ',x)

y=deepcopy(x)
print('the earlier y is: ',y)

y[0]=100
print('\n',x)
y

earlier x is:  [3, 6, 4, 2, 8, 2, 9, 2]
the earlier y is:  [3, 6, 4, 2, 8, 2, 9, 2]

 [3, 6, 4, 2, 8, 2, 9, 2]

[100, 6, 4, 2, 8, 2, 9, 2]

In [174]:
import copy

list1=[[2,3],
       [5,6],
       [9,8]]

list2=copy.deepcopy(list1)
list2[0][0]=100

print('list1 is: ',list1,'\nlist2 is:', list2)

list1 is:  [[2, 3], [5, 6], [9, 8]]
list2 is: [[100, 3], [5, 6], [9, 8]]

In [173]:
from copy import copy, deepcopy
list1=[[2,3],[5,6],[9,8,[1,2]]]

list2=deepcopy(list1)
list2[-1][-1][-1]=100

print('list1 is: ',list1,'\nlist2 is:', list2)

list1 is:  [[2, 3], [5, 6], [9, 8, [1, 2]]]
list2 is: [[2, 3], [5, 6], [9, 8, [1, 100]]]

## Nested List
##### list/lists within a list

In [169]:
list1=[[2,3,[5,8]],[5,6],[9,8]]
list1[0][2][-1]

8

In [172]:
list1=[[2,3,[5,8]],[5,6],[9,8]]
list1[list1.index([9,8])].index(8)

1

In [191]:
list1=[3,6,4,2,8,2,9,2]

for i in range(len(list1)):
    if list1.count(list1[i])>1:print(i)

3
5
7

In [189]:
list1=[3,3,6,4,2,8,2,9,2]
list2=[]
for i in range(len(list1)):
    if list1.count(list1[i])>1:list2.append(list1[i])
#     if list1.count(list1[i])>1:print(i)
list2

[3, 3, 2, 2, 2]

In [185]:
[i for i in range(len(list1)) if list1.count(list1[i])>1]

[3, 5, 7]

<B><font color = Red><Font size=5>Amazing1 Learning

In [ ]:
HomeWork:
    selection,
    Insertion,
    buble sort,
    merge sort,
    quick sort
    
Q. from a list find out all the different repeating numbers & their count

In [201]:
cake = ["vanilla", 'pineapple', 'strawberry','butterscotch', 'blackforest', 'chocolate',"vanilla", 'pineapple', 'strawberry','butterscotch', 'blackforest', 'chocolate']
print(cake)

['vanilla', 'pineapple', 'strawberry', 'butterscotch', 'blackforest', 'chocolate', 'vanilla', 'pineapple', 'strawberry', 'butterscotch', 'blackforest', 'chocolate']

In [207]:
city=['Mumbai','Pune','Nashik','Nagpur','Aurangabad','Delhi','Hydrabad','Jaipur']
index=1
for i in city:
    print(f'train at platforn no. {index} is for', i)
    index=index+1
    if  index>=5:
        print("Above trains are for MH")
        break

train at platforn no. 1 is for Mumbai
train at platforn no. 2 is for Pune
train at platforn no. 3 is for Nashik
train at platforn no. 4 is for Nagpur
Above trains are for MH