Set:
    unordered data type
    Mutable data type
    Duplicates not allowed
    addition of mutable items is possible
    indexing not supported by set
    
Mutable>> list, set, dict
Immutable >> str, tuple, int, float, bool

enclosed in {} brackets
initialise set by set constructor ------ set()

list1= [,]
tuple1= (,)
string= " "
set1 = {,}
dictionary= {key:value,}

In [4]:
set1={}
type(set1)

dict

In [3]:
set1={1,}
type(set1)

set

In [6]:
set1={2,5,6,7,4,2,6,'python','python'}
set1   #removed the duplicate items & at the output it has changed the order of my data

{2, 4, 5, 6, 7, 'python'}

In [8]:
set1={2,5,6,'100',7,4,2,6,'python','python'}
set1

{'100', 2, 4, 5, 6, 7, 'python'}

In [9]:
set1={10,20,'100',15}
set1

{10, '100', 15, 20}

In [1]:
set1={1.5,10,'100',3+4j,5}
print(set1)
print(set1)

{1.5, 5, 10, (3+4j), '100'}
{1.5, 5, 10, (3+4j), '100'}

In [7]:
s1={2,2,2,2,2,2,2,2.3,3,4.5,10,'b','python',5,5.6,7,8}
print(s1)
print(s1)
# s1[0:5]
s1[5]

{2, 3, 2.3, 4.5, 5, 5.6, 7, 8, 10, 'b', 'python'}
{2, 3, 2.3, 4.5, 5, 5.6, 7, 8, 10, 'b', 'python'}

TypeError: 'set' object is not subscriptable

In [11]:
0  == False
1  == True

s1={0,True,False,True,False,1}
s1

{0, True}

### Set Constructor

In [18]:
s = 2,3,4,2,5
s=set(s)
type(set(s))
print(s)

{2, 3, 4, 5}

In [21]:
s = [2,3,4,2,5]
print(type(s))
s=set(s)
print(type(set(s)))
print(s)

<class 'list'>
<class 'set'>
{2, 3, 4, 5}

In [48]:
pattern14=5

for i in range(pattern14+1):
    count=0
    for ix in range(i):
        count+=1
        
        print('+'*(pattern14-i), end=" ")
    print()

++++
+++ +++
++ ++ ++
+ + + +

In [26]:
a=int(input("Num\t"))
# Q.13
for i in range(a+1,1,-1):
    for j in range(i):
        print(j,end=" ")
    print()

Num	10
0 1 2 3 4 5 6 7 8 9 10
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [29]:
a=5
b= ' '
for i in range(1,a+1):
    for j in range(i):
        print(b*5,j,end=" ")
    print()

      0
      0       1
      0       1       2
      0       1       2       3
      0       1       2       3       4

In [35]:
num = int(input('enter any muber:'))
for i in range(num+1):
    for j in range(num,i,-1):
        print(' ',end='')
    for z in range(0,i):
        print(z+1, end='')
        #num = num-1
    print('')

enter any muber:5

    1
   12
  123
 1234
12345

In [53]:
num = int(input('enter any muber:'))
for i in range(num+1):
    for j in range(num,i,-1):
        print('+++',end='')
    for z in range(0,i):
        print('+',z+1, end='')
        #num = num-1
    print('')

enter any muber:5
+++++++++++++++
+++++++++++++ 1
++++++++++ 1+ 2
+++++++ 1+ 2+ 3
++++ 1+ 2+ 3+ 4
+ 1+ 2+ 3+ 4+ 5

In [61]:
num = int(input('enter any muber:'))
for i in range(num+1):
    if i==3:
        for k in range(1):
            print('++++++++++++++++++++++++++++++',end='\n')
    for j in range(num,i,-1):
        print('   ',end='')
    for z in range(0,i):
        print(' ',z+1, end='')
        #num = num-1
    print('')

enter any muber:5

              1
           1  2
++++++++++++++++++++++++++++++
        1  2  3
     1  2  3  4
  1  2  3  4  5