It is collection of items/entities separated by comma
used to store the various data types that include (int, float, str, list, tuple, dict, set....Dataframes)
whenever it is called, it returns the ordered data
Mutable (changeble/ values inside the list can be changed)
list allows suplicate values

In [1]:
#empty list

list1=[]

print(list1,type(list1))

[] <class 'list'>

In [18]:
list1=[1, 1.2, 'python',[2,3,4],(4,5,6),{6,7},'python']
list1

[1, 1.2, 'python', [2, 3, 4], (4, 5, 6), {6, 7}, 'python']

In [17]:
# set1={1,4,2,6,9,0,2,5,7,3,4,8,9,15}
# set1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 15}

## Indexing

In [ ]:
indexing starts from 0 for positive indices
indexing start from -1 for negative indices

In [5]:
list1=[1,3,5,6,7,'Sachin']

list1[0]

1

[1,3,5,6,7,'Sachin']
[0,1,2,3,4....]
[...,-4,-3,-2,-1]

In [7]:
list1[len(list1)-2]

7

## Slicing

In [8]:
list1=[1,3,5,6,7,'Sachin']
list1[:]

[1, 3, 5, 6, 7, 'Sachin']

In [9]:
list1[1:5]

[3, 5, 6, 7]

In [10]:
list1[-5:-1]

[3, 5, 6, 7]

In [12]:
list1[-5:-1:1]

[3, 5, 6, 7]

In [15]:
list1[-2:-6:-1]

[7, 6, 5, 3]

In [16]:
# reversed list
list1[::-1]

['Sachin', 7, 6, 5, 3, 1]

In [19]:
## Check item in the list

In [21]:
list1=[1, 1.2, 'python',[2,3,4],(4,5,6),{6,7},'python']
1.2 in list1

True

In [22]:
if 'python' in list1: print('python present')
else: print('absent')

python present

In [27]:
print('python present') if 'python' in list1 else print('nothing')

python present

In [34]:
cities=['Mumbai','Pune','Chennai','Noida','Nagpur']

for city_name in cities:
    print(city_name,end=' ')

Mumbai Pune Chennai Noida Nagpur

In [35]:
city=['Mumbai','Pune','Chennai','Noida','Nagpur']

index=0

for i in city:
    print(f'city at index {index} is',i)
    index+=1

city at index 0 is Mumbai
city at index 1 is Pune
city at index 2 is Chennai
city at index 3 is Noida
city at index 4 is Nagpur

In [32]:
city=['Mumbai','Pune','Chennai','Noida','Nagpur']

index=0

for i in city:
    print(f'city at index {index} is',i)
    if index==2:
        break
    index+=1

city at index 0 is Mumbai
city at index 1 is Pune
city at index 2 is Chennai

In [41]:
string='Gomez sings so well'

for i in range(5):
    print(string)

Gomez sings so well
Gomez sings so well
Gomez sings so well
Gomez sings so well
Gomez sings so well

In [55]:
cities = ['Mumbai','Pune','Chennai','Noida','Nagpur']

for index, city in enumerate(cities):#loop run kar raha he--- index(0,1,2,3,4), item('Mumbai','Pune','Chennai','Noida','Nagpur')
    if index==0:
        pass
    else:
        print(index,city)

1 Pune
2 Chennai
3 Noida
4 Nagpur

## Range function

range(initial index, end index, step size)
gives a sequence of numbers

In [58]:
range(0,5)

range(0, 5)

In [57]:
list(range(5))

[0, 1, 2, 3, 4]

In [61]:
list(range(0,5,2))

[0, 2, 4]

In [82]:
list(range(-5,-1,2))

[-5, -3]

In [70]:
list(range(-1,-5,-2))

[-1, -3]

In [64]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [78]:
list2=list(range(-5,0,1))
list2

[-5, -4, -3, -2, -1]

In [83]:
list2 = [-10,-4,9,22,45,67,-80]

In [84]:
list2[0:-1:2]

[-10, 9, 45]