In [1]:
import mysql.connector as sql

In [3]:
mydb= sql.connect(host='localhost',
                  user='root',
                  passwd='system1234',
                  use_pure = True
                 )

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x7fe6f8c405e0>

In [4]:
mycursor= mydb.cursor()
mycursor.execute('Create database db_new')

In [28]:
mydb= sql.connect(host='localhost',
                  user='root',
                  passwd='system1234',
                  use_pure = True,
                  database='db_new'
                 )

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x7fe6f8c7e040>

In [8]:
mycursor= mydb.cursor()
mycursor.execute('show databases')
for db in mycursor:
    print(db)

('db_new',)
('First_DB',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [9]:
mycursor= mydb.cursor()
mycursor.execute('create table emp(empid int,fname varchar(10))')

In [10]:
mycursor= mydb.cursor()
mycursor.execute('show tables')
for tbl in mycursor:
    print(tbl)

('emp',)

In [16]:
mycursor= mydb.cursor()
ins= 'insert into emp (empid,fname) values(%s,%s)'
emp= [(1001,'gaurav'),(1002,'manish'),(1003,'swara')]

mycursor.executemany(ins,emp)
mydb.commit()

In [17]:
ins= 'insert into emp (empid,fname) values(%s,%s)'
emp= [(1004,'Gauri')]

mycursor.executemany(ins,emp)
mydb.commit()

In [23]:
mycursor= mydb.cursor()
mycursor.execute('select fname from emp')
result=mycursor.fetchone()
for row in result:
    print(row)

gaurav

In [29]:
mycursor= mydb.cursor()
mycursor.execute('select fname from emp')
result=mycursor.fetchall()
for row in result:
    print(row)

('gaurav',)
('manish',)
('swara',)
('gaurav',)
('manish',)
('swara',)
('gaurav',)
('manish',)
('swara',)
('Gauri',)

In [32]:
mycursor= mydb.cursor()
sql="update emp set fname='manisha' where fname=('manish') "
mycursor.execute(sql)
mydb.commit()

In [33]:
mycursor= mydb.cursor()
sql="delete from emp where empid=1001"
mycursor.execute(sql)
mydb.commit()