#  <font color = darkblue size =6.5><center> Sentiment Analysis

In [1]:
import pandas as pd 
import numpy as np
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

In [2]:
df = pd.read_csv(r'C:\Users\DELL\Documents\NLP\Train.csv')

In [7]:
df.head()

                                                text  label
0  I grew up (b. 1965) watching and loving the Th...      0
1  When I put this movie in my DVD player, and sa...      0
2  Why do people who do not know what a particula...      0
3  Even though I have great interest in Biblical ...      0
4  Im a die hard Dads Army fan and nothing will e...      1

In [10]:
df.shape

(40000, 2)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test = train_test_split(df.text,df.label,test_size=0.2,random_state=42)

In [13]:
x_train

14307    I watched it last night and again this morning...
17812    although i liked this Western,i do have to say...
11020    I sat down to watch a documentary about Puerto...
15158    This was probably intended as an "arty" crime ...
24990    The summary provided by my cable TV guide made...
                               ...
6265     This movie is one of the worst movie i have ev...
11284    This movie is inspiring to anyone who is or ha...
38158    "East Side Story" is a documentary of musical ...
860      And a self-admitted one to boot. At one point ...
15795    This movie had horrible lighting and terrible ...
Name: text, Length: 32000, dtype: object

In [14]:
y_train

14307    1
17812    1
11020    0
15158    0
24990    0
        ..
6265     0
11284    1
38158    1
860      0
15795    0
Name: label, Length: 32000, dtype: int64

In [15]:
# tokenization
def tokenization(data):
    tokens = word_tokenize(data)
    return tokens

In [16]:
x_train_token = x_train.apply(tokenization)

In [19]:
x_test_token = x_test.apply(tokenization)

In [17]:
x_train_token

14307    [I, watched, it, last, night, and, again, this...
17812    [although, i, liked, this, Western, ,, i, do, ...
11020    [I, sat, down, to, watch, a, documentary, abou...
15158    [This, was, probably, intended, as, an, ``, ar...
24990    [The, summary, provided, by, my, cable, TV, gu...
                               ...
6265     [This, movie, is, one, of, the, worst, movie, ...
11284    [This, movie, is, inspiring, to, anyone, who, ...
38158    [``, East, Side, Story, '', is, a, documentary...
860      [And, a, self-admitted, one, to, boot, ., At, ...
15795    [This, movie, had, horrible, lighting, and, te...
Name: text, Length: 32000, dtype: object

In [20]:
def remove_punctuation(data):
    clean_text = [x for x in data if x.isalpha()]
    return clean_text

In [21]:
x_train_without_punt = x_train_token.apply(remove_punctuation)
x_test_without_punt = x_test_token.apply(remove_punctuation)

In [22]:
def normalization(data):
    lower = [x.lower() for x in data]
    return lower

In [23]:
x_train_normal = x_train_without_punt.apply(normalization)
x_test_normal = x_test_without_punt.apply(normalization)

In [24]:
def stopwords_remove(data):
    from nltk.corpus import stopwords
    stop = stopwords.words('english')
    clean_text = [x for x in data if x not in stop ]
    return clean_text

In [25]:
x_train1= x_train_normal.apply(stopwords_remove)
x_test1= x_test_normal.apply(stopwords_remove)

In [26]:
def lemmatization(data):
    from nltk.stem import WordNetLemmatizer
    lemma = WordNetLemmatizer()
    l1 = []
    for i in data :
        text1 = lemma.lemmatize(i)
        l1.append(text1)
    return l1

In [27]:
final_train = x_train1.apply(lemmatization)
final_test = x_test1.apply(lemmatization)

In [28]:
final_train

14307    [watched, last, night, morning, much, liked, s...
17812    [although, liked, western, say, one, favourite...
11020    [sat, watch, documentary, puerto, rico, ended,...
15158    [probably, intended, arty, crime, thriller, fa...
24990    [summary, provided, cable, tv, guide, made, so...
                               ...
6265     [movie, one, worst, movie, ever, seen, life, w...
11284    [movie, inspiring, anyone, tough, jam, whether...
38158    [east, side, story, documentary, musical, come...
860      [one, boot, one, point, doctor, assistant, ref...
15795    [movie, horrible, lighting, terrible, camera, ...
Name: text, Length: 32000, dtype: object

In [29]:
def join_list(data):
    text = " ".join(data)
    return text

In [30]:
final_text_train = final_train.apply(join_list)
final_text_test = final_test.apply(join_list)

In [31]:
final_text_train

14307    watched last night morning much liked somethin...
17812    although liked western say one favourite john ...
11020    sat watch documentary puerto rico ended watchi...
15158    probably intended arty crime thriller fails co...
24990    summary provided cable tv guide made sound lot...
                               ...
6265     movie one worst movie ever seen life waste tim...
11284    movie inspiring anyone tough jam whether finan...
38158    east side story documentary musical comedy sta...
860      one boot one point doctor assistant refers br ...
15795    movie horrible lighting terrible camera moveme...
Name: text, Length: 32000, dtype: object

# Count Vectorizer

In [32]:
from sklearn.feature_extraction.text import CountVectorizer

In [33]:
cv = CountVectorizer(lowercase=True,stop_words='english',max_df=0.95,max_features=1000)

In [34]:
count_train = cv.fit_transform(final_text_train)
count_test = cv.transform(final_text_test)

In [35]:
count_train

<32000x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 1425701 stored elements in Compressed Sparse Row format>

In [36]:
print(cv.get_stop_words())

frozenset({'fifteen', 'whose', 'how', 'fire', 'in', 'already', 'whom', 'could', 'myself', 'eg', 'once', 'whither', 'until', 'yourselves', 'should', 'moreover', 'off', 'either', 'between', 'yourself', 'whoever', 'below', 'via', 'own', 'or', 'only', 'elsewhere', 'hereafter', 'anywhere', 'nothing', 'would', 'we', 'co', 'toward', 'whether', 'show', 'had', 'front', 'us', 'for', 'too', 'always', 'within', 'thin', 'sixty', 'me', 'afterwards', 'as', 'get', 'due', 'now', 'amount', 'three', 'everyone', 'latter', 'another', 'such', 'thereupon', 'under', 'besides', 'be', 'if', 'becoming', 'therein', 'must', 'and', 'never', 'thick', 'has', 'may', 'con', 'nowhere', 'otherwise', 'first', 'per', 'after', 'give', 'therefore', 'more', 'which', 'twelve', 'twenty', 'been', 'also', 'see', 'same', 'wherein', 'name', 'interest', 'everywhere', 'anyone', 'someone', 'meanwhile', 'perhaps', 'himself', 'whereafter', 'towards', 'nine', 'against', 'can', 'my', 'two', 'ten', 'was', 'than', 'because', 'behind', 'i', 'any', 'formerly', 'before', 'into', 'upon', 'seem', 'still', 'all', 'a', 'most', 'you', 'thence', 'each', 'beforehand', 'seemed', 'not', 'next', 'without', 'further', 'nevertheless', 'others', 'somewhere', 'his', 'done', 'amongst', 'none', 'fill', 'seems', 'less', 'from', 'forty', 'hence', 'ever', 'else', 'find', 'whereupon', 'detail', 'are', 'somehow', 'its', 'their', 'both', 'mill', 'many', 'every', 'cant', 'empty', 'it', 'ltd', 'several', 'serious', 'beyond', 'enough', 'is', 'sincere', 'thru', 'bottom', 'wherever', 'whenever', 'cannot', 'almost', 'on', 'again', 'however', 'she', 'one', 'latterly', 'six', 'go', 'bill', 'last', 'mostly', 'during', 'put', 'with', 'mine', 'anyway', 'namely', 'un', 'hundred', 'whatever', 'etc', 'cry', 'become', 'but', 'about', 'themselves', 'through', 'were', 'yours', 'four', 'ourselves', 'your', 'above', 'over', 'top', 'couldnt', 'those', 'might', 'neither', 'side', 'throughout', 'who', 'anyhow', 'along', 'keep', 'no', 'these', 'de', 'here', 'him', 'whole', 'please', 'our', 'eleven', 'anything', 'indeed', 'though', 'while', 'herself', 'third', 'sometime', 'why', 'being', 'thus', 'her', 'five', 'often', 'well', 'where', 'he', 'inc', 'made', 'seeming', 'part', 'noone', 'amoungst', 'that', 'across', 'even', 'sometimes', 'this', 'an', 'although', 'becomes', 'former', 'take', 'whereby', 'back', 'full', 'describe', 'so', 'then', 'move', 'hers', 'have', 'thereby', 'least', 'fifty', 'hereupon', 'since', 'yet', 'whence', 'of', 'them', 'onto', 'when', 'alone', 'by', 'found', 'something', 'there', 'ie', 'together', 'became', 'up', 're', 'except', 'am', 'hasnt', 'to', 'itself', 'much', 'few', 'thereafter', 'call', 'around', 'beside', 'whereas', 'the', 'very', 'other', 'among', 'rather', 'they', 'some', 'system', 'what', 'at', 'nobody', 'will', 'eight', 'down', 'nor', 'everything', 'ours', 'hereby', 'do', 'out', 'herein'})

In [37]:
print(cv.get_feature_names())

['ability', 'able', 'absolutely', 'accent', 'act', 'acted', 'acting', 'action', 'actor', 'actress', 'actual', 'actually', 'adaptation', 'add', 'added', 'admit', 'adult', 'adventure', 'age', 'agent', 'ago', 'agree', 'air', 'alien', 'alive', 'amazing', 'america', 'american', 'amusing', 'animal', 'animated', 'animation', 'annoying', 'answer', 'apart', 'apparently', 'appeal', 'appear', 'appearance', 'appears', 'appreciate', 'area', 'army', 'art', 'artist', 'aside', 'ask', 'aspect', 'atmosphere', 'attack', 'attempt', 'attention', 'audience', 'average', 'avoid', 'award', 'away', 'awesome', 'awful', 'baby', 'background', 'bad', 'badly', 'band', 'barely', 'based', 'basic', 'basically', 'battle', 'beat', 'beautiful', 'beautifully', 'beauty', 'bed', 'begin', 'beginning', 'belief', 'believable', 'believe', 'ben', 'best', 'better', 'big', 'biggest', 'bit', 'bizarre', 'black', 'blood', 'blue', 'body', 'bond', 'book', 'bored', 'boring', 'bother', 'bought', 'box', 'boy', 'br', 'brain', 'break', 'brilliant', 'bring', 'brings', 'british', 'brother', 'brought', 'bruce', 'budget', 'building', 'bunch', 'business', 'buy', 'ca', 'called', 'came', 'camera', 'camp', 'capture', 'car', 'care', 'career', 'carry', 'cartoon', 'case', 'cast', 'casting', 'cat', 'catch', 'caught', 'cause', 'century', 'certain', 'certainly', 'chance', 'change', 'changed', 'channel', 'character', 'charles', 'charlie', 'charm', 'charming', 'chase', 'cheap', 'check', 'cheesy', 'chemistry', 'child', 'choice', 'christmas', 'cinema', 'cinematic', 'cinematography', 'city', 'class', 'classic', 'clear', 'clearly', 'clever', 'close', 'club', 'cold', 'college', 'color', 'come', 'comedy', 'comic', 'coming', 'comment', 'common', 'company', 'compared', 'complete', 'completely', 'complex', 'computer', 'concept', 'conclusion', 'consider', 'considered', 'considering', 'control', 'convincing', 'cool', 'cop', 'copy', 'cost', 'costume', 'country', 'couple', 'course', 'cover', 'crap', 'crazy', 'create', 'created', 'creature', 'credit', 'creepy', 'crew', 'crime', 'criminal', 'critic', 'cult', 'culture', 'cut', 'cute', 'dad', 'dance', 'dancing', 'dark', 'date', 'daughter', 'david', 'day', 'dead', 'deal', 'death', 'decent', 'decide', 'decided', 'decides', 'deep', 'definitely', 'depth', 'deserves', 'despite', 'detective', 'development', 'dialog', 'dialogue', 'die', 'died', 'difference', 'different', 'difficult', 'directed', 'directing', 'direction', 'director', 'disappointed', 'disney', 'disturbing', 'doctor', 'documentary', 'dog', 'door', 'doubt', 'drama', 'dramatic', 'dream', 'drive', 'drug', 'dull', 'dumb', 'dvd', 'earlier', 'early', 'earth', 'easily', 'easy', 'edge', 'editing', 'effect', 'effective', 'effort', 'element', 'emotion', 'emotional', 'end', 'ended', 'ending', 'english', 'enjoy', 'enjoyable', 'enjoyed', 'entertaining', 'entertainment', 'entire', 'entirely', 'episode', 'era', 'escape', 'especially', 'event', 'eventually', 'everybody', 'evil', 'exactly', 'example', 'excellent', 'exception', 'exciting', 'excuse', 'expect', 'expectation', 'expected', 'expecting', 'experience', 'explain', 'extra', 'extremely', 'eye', 'face', 'fact', 'failed', 'fails', 'fair', 'fairly', 'fake', 'fall', 'familiar', 'family', 'famous', 'fan', 'fantastic', 'fantasy', 'far', 'fast', 'father', 'favorite', 'fear', 'feature', 'feel', 'feeling', 'felt', 'female', 'festival', 'fiction', 'fight', 'fighting', 'figure', 'filled', 'film', 'filmed', 'filmmaker', 'final', 'finally', 'fine', 'finish', 'fit', 'flat', 'flaw', 'flick', 'focus', 'folk', 'follow', 'following', 'follows', 'foot', 'footage', 'force', 'forced', 'forget', 'form', 'forward', 'frank', 'free', 'french', 'friend', 'fun', 'funny', 'future', 'gag', 'game', 'gang', 'garbage', 'gave', 'gay', 'gem', 'general', 'generally', 'genius', 'genre', 'george', 'german', 'getting', 'ghost', 'giant', 'girl', 'girlfriend', 'given', 'giving', 'glad', 'god', 'going', 'gone', 'good', 'gore', 'got', 'government', 'great', 'greatest', 'group', 'guess', 'gun', 'guy', 'hair', 'half', 'hand', 'happen', 'happened', 'happens', 'happy', 'hard', 'hardly', 'hate', 'head', 'hear', 'heard', 'heart', 'hell', 'help', 'hero', 'high', 'highly', 'hilarious', 'history', 'hit', 'hold', 'hole', 'hollywood', 'home', 'honest', 'honestly', 'hope', 'horrible', 'horror', 'horse', 'hot', 'hour', 'house', 'huge', 'human', 'humor', 'humour', 'hurt', 'husband', 'idea', 'image', 'imagine', 'imdb', 'immediately', 'important', 'impossible', 'impression', 'impressive', 'including', 'incredible', 'incredibly', 'indian', 'innocent', 'inside', 'instead', 'intelligent', 'interested', 'interesting', 'involved', 'involving', 'island', 'issue', 'italian', 'jack', 'james', 'jane', 'japanese', 'jim', 'job', 'joe', 'john', 'joke', 'jones', 'journey', 'kept', 'kid', 'kill', 'killed', 'killer', 'killing', 'kind', 'king', 'knew', 'know', 'known', 'la', 'lack', 'lady', 'lame', 'land', 'language', 'large', 'late', 'later', 'laugh', 'laughing', 'law', 'le', 'lead', 'leading', 'leaf', 'learn', 'leave', 'leaving', 'lee', 'left', 'let', 'level', 'lie', 'life', 'light', 'like', 'liked', 'likely', 'line', 'list', 'literally', 'little', 'live', 'living', 'local', 'location', 'long', 'longer', 'look', 'looked', 'looking', 'lost', 'lot', 'love', 'loved', 'lover', 'low', 'mad', 'magic', 'main', 'major', 'make', 'maker', 'making', 'male', 'man', 'managed', 'manages', 'mark', 'married', 'mary', 'master', 'masterpiece', 'match', 'material', 'matter', 'maybe', 'mean', 'meaning', 'meant', 'meet', 'member', 'memorable', 'memory', 'men', 'mention', 'mentioned', 'mess', 'message', 'michael', 'middle', 'million', 'mind', 'minor', 'minute', 'miss', 'missed', 'missing', 'mistake', 'modern', 'moment', 'money', 'monster', 'mood', 'moral', 'mother', 'movie', 'moving', 'mr', 'murder', 'music', 'musical', 'mystery', 'named', 'nature', 'near', 'nearly', 'need', 'needed', 'new', 'nice', 'night', 'normal', 'note', 'novel', 'nudity', 'number', 'obvious', 'obviously', 'odd', 'offer', 'office', 'oh', 'ok', 'okay', 'old', 'older', 'open', 'opening', 'opera', 'opinion', 'opportunity', 'order', 'original', 'oscar', 'outside', 'overall', 'pace', 'parent', 'park', 'particular', 'particularly', 'party', 'past', 'pathetic', 'paul', 'pay', 'people', 'perfect', 'perfectly', 'performance', 'period', 'person', 'personal', 'personality', 'personally', 'peter', 'photography', 'pick', 'picture', 'piece', 'place', 'plain', 'plan', 'plane', 'planet', 'play', 'played', 'player', 'playing', 'plenty', 'plot', 'plus', 'point', 'pointless', 'police', 'political', 'poor', 'poorly', 'popular', 'portrayal', 'portrayed', 'positive', 'possible', 'possibly', 'potential', 'power', 'powerful', 'predictable', 'premise', 'present', 'pretty', 'previous', 'prison', 'probably', 'problem', 'produced', 'producer', 'production', 'project', 'public', 'pull', 'pure', 'purpose', 'quality', 'question', 'quickly', 'quite', 'race', 'rate', 'rating', 'ray', 'read', 'reading', 'real', 'realistic', 'reality', 'realize', 'really', 'reason', 'recent', 'recently', 'recommend', 'recommended', 'red', 'reference', 'relationship', 'release', 'released', 'remains', 'remake', 'remember', 'rent', 'respect', 'rest', 'result', 'return', 'revenge', 'review', 'reviewer', 'rich', 'richard', 'ride', 'ridiculous', 'right', 'ring', 'road', 'robert', 'rock', 'role', 'romance', 'romantic', 'room', 'run', 'running', 'sad', 'sadly', 'said', 'sam', 'save', 'saw', 'say', 'saying', 'scary', 'scene', 'scenery', 'school', 'science', 'scientist', 'score', 'scott', 'screen', 'screenplay', 'script', 'season', 'second', 'secret', 'seeing', 'seen', 'sense', 'sequel', 'sequence', 'series', 'seriously', 'set', 'setting', 'sex', 'sexual', 'sexy', 'shame', 'ship', 'shoot', 'shooting', 'short', 'shot', 'showed', 'showing', 'shown', 'sick', 'silent', 'silly', 'similar', 'simple', 'simply', 'singing', 'single', 'sister', 'sit', 'sitting', 'situation', 'slasher', 'slightly', 'slow', 'small', 'social', 'society', 'soldier', 'solid', 'somewhat', 'son', 'song', 'soon', 'sorry', 'sort', 'soul', 'sound', 'soundtrack', 'south', 'space', 'speak', 'special', 'spend', 'spent', 'spirit', 'spoiler', 'spot', 'stage', 'stand', 'standard', 'star', 'starring', 'start', 'started', 'state', 'stay', 'steal', 'step', 'steve', 'stick', 'stop', 'store', 'story', 'storyline', 'straight', 'strange', 'street', 'strong', 'struggle', 'student', 'studio', 'stuff', 'stupid', 'style', 'subject', 'subtle', 'success', 'successful', 'suck', 'suddenly', 'superb', 'supporting', 'supposed', 'sure', 'surprise', 'surprised', 'surprisingly', 'suspect', 'suspense', 'sweet', 'taken', 'taking', 'tale', 'talent', 'talented', 'talk', 'talking', 'taste', 'team', 'teen', 'teenager', 'television', 'tell', 'telling', 'tension', 'term', 'terrible', 'thanks', 'theater', 'theme', 'thing', 'think', 'thinking', 'thought', 'thriller', 'throw', 'time', 'title', 'today', 'told', 'tom', 'tone', 'took', 'total', 'totally', 'touch', 'tough', 'town', 'track', 'trailer', 'train', 'trash', 'tried', 'trip', 'trouble', 'true', 'truly', 'truth', 'try', 'trying', 'turn', 'turned', 'tv', 'twist', 'type', 'typical', 'ultimately', 'understand', 'unfortunately', 'unique', 'unless', 'unlike', 'use', 'used', 'using', 'usual', 'usually', 'utterly', 'value', 'vampire', 'van', 'various', 'version', 'victim', 'video', 'view', 'viewer', 'viewing', 'villain', 'violence', 'violent', 'visual', 'voice', 'wait', 'waiting', 'walk', 'walking', 'wall', 'want', 'wanted', 'war', 'waste', 'wasted', 'watch', 'watched', 'watching', 'water', 'way', 'weak', 'week', 'weird', 'went', 'west', 'western', 'white', 'wife', 'william', 'win', 'wish', 'wo', 'woman', 'wonder', 'wonderful', 'wood', 'word', 'work', 'worked', 'working', 'world', 'worse', 'worst', 'worth', 'write', 'writer', 'writing', 'written', 'wrong', 'wrote', 'yeah', 'year', 'yes', 'york', 'young', 'younger', 'zombie']

In [38]:
len(cv.get_feature_names())

1000

In [41]:
df=pd.DataFrame(count_train.A,columns = cv.get_feature_names()).head()

In [44]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [45]:
mnb = MultinomialNB()
mnb.fit(count_train.A,y_train)
pred_mnb = mnb.predict(count_test.A)

In [46]:
pred_mnb

array([1, 1, 0, ..., 1, 0, 0], dtype=int64)

In [47]:
acc = accuracy_score(y_test,pred_mnb)
acc

0.823625

#  TF-IDF

In [48]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [49]:
tf = TfidfVectorizer(lowercase=True,stop_words='english',max_df=0.95,max_features=1000)

In [50]:
tf_train = tf.fit_transform(final_text_train)
tf_test = tf.transform(final_text_test)

In [51]:
pd.DataFrame(tf_train.A,columns = tf.get_feature_names()).head()

,ability,able,absolutely,accent,act,acted,acting,action,actor,actress,...,written,wrong,wrote,yeah,year,yes,york,young,younger,zombie
0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.167756,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.183988,0.243297,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.076361,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [53]:
mnb = MultinomialNB()
mnb.fit(tf_train.A,y_train)
pred_mnb = mnb.predict(tf_test.A)

In [54]:
pred_mnb

array([1, 1, 1, ..., 1, 0, 0], dtype=int64)

In [55]:
acc = accuracy_score(y_test,pred_mnb)
acc

0.82825