In [ ]:
Loan Prediction:
    
HDFC Bank:
    Customer1:
        Age >> 30
        CBIL Score >> 550
        Salary >> 20000
        Predict >> Declined

    Customer2:
        Age >> 28
        CBIL Score >> 750
        Salary >> 60000
        Predict >> Approved
        

Predict >> Loan Approved or Declined

In [ ]:
Application to use MongoDB:
    1. NoSQLBooster
    2. MongoDB Compass
    
Library Required:
    pymongo

## Operation

In [ ]:
Various operations:
    1. Create
    2. Update
    3. Insert
    4. Delete
    5. Read/Find
    6. Sort

In [ ]:
Database -> Collection (Table) -> Documents (Rows)

In [2]:
import pymongo

### Creating Database

In [5]:
database_name = 'loan_db'
mongodb_port = 27017                          
mongo_db_client = pymongo.MongoClient(f'mongodb://localhost:{mongodb_port}')

db = mongo_db_client[database_name]
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'loan_db')

In [4]:
mongo_db_client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

### Checking existing databases in the pc

In [7]:
mongo_db_client.list_database_names()

['admin', 'config', 'local']

### Creating Collections (Tables)

In [31]:
collection_user = db['user_details']
collection_token = db['token_details']
collection_analysis = db['analysis_details']
collection_login = db['login_details']

### Check collections

In [11]:
db.list_collection_names()

[]

In [12]:
collection_list = db.list_collection_names()
collection_list

[]

## 1 Insert

In [ ]:
To insert a record/document/row
1. Inserting one record using dict

### 1.1 insert_one()

In [15]:
collection_user.insert_one({'Name':'Ankit','Mobile Number':9130083200, 'Place':'Pune'})

In [16]:
query = {'Name':'Mukesh','Mobile Number':87887878787, 'Place':'Kolhapur'}
collection_user.insert_one(query)

In [17]:
query = {'Name':'Sachin','Mobile Number':4545454545, 'Place':'Delhi'}
collection_user.insert_one(query)

In [20]:
query = {'Name':'Nikhil','Mobile Number':6767676767, 'Place':'Mumbai'}
collection_user.insert_one(query)

### 1.2 insert_many()

In [ ]:
Used to add one or more records
input >> list of dict

In [93]:
my_data = [{'Name':'Pravin','Mobile Number':2323232323, 'Place':'Chennai'},
          {'Name':'Mahesh','Mobile Number':3232323232, 'Place':'Hydrabad'},
          {'Name':'Nikhil','Mobile Number':9090909090, 'Place':'Pune'},]
collection_user.insert_many(my_data)

In [33]:
user_data = [{'Name':'Rohit','email_id':'rohit@gmail.com','password':'Rohit@1234'},
            {'Name':'Snahin','email_id':'sachin@gmail.com','password':'Sachin@1234'},
            {'Name':'Dhoni','email_id':'msd@gmail.com','password':'Msd@1234'}]
collection_login.insert_many(user_data)

## 2. Find

### 2.1 find_one()

In [ ]:
Used to select data/record form collection
It return only first occurance

In [24]:
collection_user.find_one()

{'_id': ObjectId('61d8574d1833fca0effc97fb'),
 'Name': 'Ankit',
 'Mobile Number': 9130083200,
 'Place': 'Pune'}

In [27]:
query = {'Name':'Nikhil'}
collection_user.find_one(query)

{'_id': ObjectId('61d858e11833fca0effc9800'),
 'Name': 'Nikhil',
 'Mobile Number': 9090909090,
 'Place': 'Nagpur'}

In [30]:
query = {'Name':'Mahesh'}
response = collection_user.find_one(query)
response

{'_id': ObjectId('61d858e11833fca0effc97ff'),
 'Name': 'Mahesh',
 'Mobile Number': 3232323232,
 'Place': 'Hydrabad'}

In [36]:
query = {'email_id':'sachin@gmail.com','password':'Sachin@1234'}
response = collection_login.find_one(query)
response

{'_id': ObjectId('61d85ba11833fca0effc9806'),
 'Name': 'Snahin',
 'email_id': 'sachin@gmail.com',
 'password': 'Sachin@1234'}

In [41]:
query = {'email_id':'sachin@gmail.com','password':'Sachin@1234'}
response = collection_login.find_one(query)
response

if response:
    print("User exist.")
else:
    print('User does not exists.')

User exist.

In [39]:
query = {'email_id':'sachin@gmail.com','password':'sachin@1234'}
response = collection_login.find_one(query)
response

if response:
    print("User exist")
else:
    print('Username or Password is wrong!!!')

Username or Password is wrong!!!

### 2.2 find()

In [48]:
data = collection_user.find()
print(data)
print(list(data))

<pymongo.cursor.Cursor object at 0x0000022D1CAC6130>
[{'_id': ObjectId('61d8574d1833fca0effc97fb'), 'Name': 'Ankit', 'Mobile Number': 9130083200, 'Place': 'Pune'}, {'_id': ObjectId('61d857c91833fca0effc97fc'), 'Name': 'Mukesh', 'Mobile Number': 87887878787, 'Place': 'Kolhapur'}, {'_id': ObjectId('61d8581d1833fca0effc97fd'), 'Name': 'Sachin', 'Mobile Number': 4545454545, 'Place': 'Delhi'}, {'_id': ObjectId('61d858e11833fca0effc97fe'), 'Name': 'Pravin', 'Mobile Number': 2323232323, 'Place': 'Chennai'}, {'_id': ObjectId('61d858e11833fca0effc97ff'), 'Name': 'Mahesh', 'Mobile Number': 3232323232, 'Place': 'Hydrabad'}, {'_id': ObjectId('61d858e11833fca0effc9800'), 'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Nagpur'}, {'_id': ObjectId('61d859481833fca0effc9801'), 'Name': 'Nikhil', 'Mobile Number': 6767676767, 'Place': 'Mumbai'}, {'_id': ObjectId('61d859621833fca0effc9802'), 'Name': 'Pravin', 'Mobile Number': 2323232323, 'Place': 'Chennai'}, {'_id': ObjectId('61d859621833fca0effc9803'), 'Name': 'Mahesh', 'Mobile Number': 3232323232, 'Place': 'Hydrabad'}, {'_id': ObjectId('61d859621833fca0effc9804'), 'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Pune'}]

In [47]:
data = collection_user.find()
for record in data:
    print('Record >>',record)

Record >> {'_id': ObjectId('61d8574d1833fca0effc97fb'), 'Name': 'Ankit', 'Mobile Number': 9130083200, 'Place': 'Pune'}
Record >> {'_id': ObjectId('61d857c91833fca0effc97fc'), 'Name': 'Mukesh', 'Mobile Number': 87887878787, 'Place': 'Kolhapur'}
Record >> {'_id': ObjectId('61d8581d1833fca0effc97fd'), 'Name': 'Sachin', 'Mobile Number': 4545454545, 'Place': 'Delhi'}
Record >> {'_id': ObjectId('61d858e11833fca0effc97fe'), 'Name': 'Pravin', 'Mobile Number': 2323232323, 'Place': 'Chennai'}
Record >> {'_id': ObjectId('61d858e11833fca0effc97ff'), 'Name': 'Mahesh', 'Mobile Number': 3232323232, 'Place': 'Hydrabad'}
Record >> {'_id': ObjectId('61d858e11833fca0effc9800'), 'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Nagpur'}
Record >> {'_id': ObjectId('61d859481833fca0effc9801'), 'Name': 'Nikhil', 'Mobile Number': 6767676767, 'Place': 'Mumbai'}
Record >> {'_id': ObjectId('61d859621833fca0effc9802'), 'Name': 'Pravin', 'Mobile Number': 2323232323, 'Place': 'Chennai'}
Record >> {'_id': ObjectId('61d859621833fca0effc9803'), 'Name': 'Mahesh', 'Mobile Number': 3232323232, 'Place': 'Hydrabad'}
Record >> {'_id': ObjectId('61d859621833fca0effc9804'), 'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Pune'}

In [49]:
data = collection_login.find()
for record in data:
    print('Record >>',record)

Record >> {'_id': ObjectId('61d85ba11833fca0effc9805'), 'Name': 'Rohit', 'email_id': 'rohit@gmail.com', 'password': 'Rohit@1234'}
Record >> {'_id': ObjectId('61d85ba11833fca0effc9806'), 'Name': 'Snahin', 'email_id': 'sachin@gmail.com', 'password': 'Sachin@1234'}
Record >> {'_id': ObjectId('61d85ba11833fca0effc9807'), 'Name': 'Dhoni', 'email_id': 'msd@gmail.com', 'password': 'Msd@1234'}

In [50]:
# if we delete any record from MongoDB Compass then it will be reflected here also.
data = collection_user.find()
for record in data:
    print('Record >>',record)

Record >> {'_id': ObjectId('61d8574d1833fca0effc97fb'), 'Name': 'Ankit', 'Mobile Number': 9130083200, 'Place': 'Pune'}
Record >> {'_id': ObjectId('61d857c91833fca0effc97fc'), 'Name': 'Mukesh', 'Mobile Number': 87887878787, 'Place': 'Kolhapur'}
Record >> {'_id': ObjectId('61d8581d1833fca0effc97fd'), 'Name': 'Sachin', 'Mobile Number': 4545454545, 'Place': 'Delhi'}
Record >> {'_id': ObjectId('61d858e11833fca0effc97fe'), 'Name': 'Pravin', 'Mobile Number': 2323232323, 'Place': 'Chennai'}
Record >> {'_id': ObjectId('61d858e11833fca0effc97ff'), 'Name': 'Mahesh', 'Mobile Number': 3232323232, 'Place': 'Hydrabad'}
Record >> {'_id': ObjectId('61d858e11833fca0effc9800'), 'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Nagpur'}
Record >> {'_id': ObjectId('61d859481833fca0effc9801'), 'Name': 'Nikhil', 'Mobile Number': 6767676767, 'Place': 'Mumbai'}
Record >> {'_id': ObjectId('61d859621833fca0effc9804'), 'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Pune'}

In [51]:
data = collection_user.find({'Name':'Nikhil'})
list(data)

[{'_id': ObjectId('61d858e11833fca0effc9800'),
  'Name': 'Nikhil',
  'Mobile Number': 9090909090,
  'Place': 'Nagpur'},
 {'_id': ObjectId('61d859481833fca0effc9801'),
  'Name': 'Nikhil',
  'Mobile Number': 6767676767,
  'Place': 'Mumbai'},
 {'_id': ObjectId('61d859621833fca0effc9804'),
  'Name': 'Nikhil',
  'Mobile Number': 9090909090,
  'Place': 'Pune'}]

In [52]:
data = collection_user.find({'Name':'Nikhil'})
for record in data:
    print(record)

{'_id': ObjectId('61d858e11833fca0effc9800'), 'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Nagpur'}
{'_id': ObjectId('61d859481833fca0effc9801'), 'Name': 'Nikhil', 'Mobile Number': 6767676767, 'Place': 'Mumbai'}
{'_id': ObjectId('61d859621833fca0effc9804'), 'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Pune'}

In [53]:
data = collection_user.find({'Name':'Nikhil','Mobile Number':9090909090})
for record in data:
    print(record)

{'_id': ObjectId('61d858e11833fca0effc9800'), 'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Nagpur'}
{'_id': ObjectId('61d859621833fca0effc9804'), 'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Pune'}

In [55]:
# To skip id field
data = collection_user.find({'Name':'Nikhil','Mobile Number':9090909090},{'_id':0})
for record in data:
    print(record)

{'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Nagpur'}
{'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Pune'}

In [56]:
# To skip mobile number field
data = collection_user.find({'Name':'Nikhil','Mobile Number':9090909090},{'Mobile Number':0})
for record in data:
    print(record)

{'_id': ObjectId('61d858e11833fca0effc9800'), 'Name': 'Nikhil', 'Place': 'Nagpur'}
{'_id': ObjectId('61d859621833fca0effc9804'), 'Name': 'Nikhil', 'Place': 'Pune'}

In [57]:
# To skip mobile number field
data = collection_user.find({'Name':'Nikhil','Mobile Number':9090909090},{'_id':0,'Mobile Number':0})
for record in data:
    print(record)

{'Name': 'Nikhil', 'Place': 'Nagpur'}
{'Name': 'Nikhil', 'Place': 'Pune'}

In [60]:
data = collection_user.find({})
for record in data:
    print(record)

{'_id': ObjectId('61d8574d1833fca0effc97fb'), 'Name': 'Ankit', 'Mobile Number': 9130083200, 'Place': 'Pune'}
{'_id': ObjectId('61d857c91833fca0effc97fc'), 'Name': 'Mukesh', 'Mobile Number': 87887878787, 'Place': 'Kolhapur'}
{'_id': ObjectId('61d8581d1833fca0effc97fd'), 'Name': 'Sachin', 'Mobile Number': 4545454545, 'Place': 'Delhi'}
{'_id': ObjectId('61d858e11833fca0effc97fe'), 'Name': 'Pravin', 'Mobile Number': 2323232323, 'Place': 'Chennai'}
{'_id': ObjectId('61d858e11833fca0effc97ff'), 'Name': 'Mahesh', 'Mobile Number': 3232323232, 'Place': 'Hydrabad'}
{'_id': ObjectId('61d858e11833fca0effc9800'), 'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Nagpur'}
{'_id': ObjectId('61d859481833fca0effc9801'), 'Name': 'Nikhil', 'Mobile Number': 6767676767, 'Place': 'Mumbai'}
{'_id': ObjectId('61d859621833fca0effc9804'), 'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Pune'}

In [64]:
data = collection_user.find({},{'_id':0})
for record in data:
    print(record)

{'Name': 'Ankit', 'Mobile Number': 9130083200, 'Place': 'Pune'}
{'Name': 'Mukesh', 'Mobile Number': 87887878787, 'Place': 'Kolhapur'}
{'Name': 'Sachin', 'Mobile Number': 4545454545, 'Place': 'Delhi'}
{'Name': 'Pravin', 'Mobile Number': 2323232323, 'Place': 'Chennai'}
{'Name': 'Mahesh', 'Mobile Number': 3232323232, 'Place': 'Hydrabad'}
{'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Nagpur'}
{'Name': 'Nikhil', 'Mobile Number': 6767676767, 'Place': 'Mumbai'}
{'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Pune'}

In [62]:
import pandas as pd

In [66]:
data = collection_user.find({},{'_id':0})
df = pd.DataFrame(list(data))
df

     Name  Mobile Number     Place
0   Ankit     9130083200      Pune
1  Mukesh    87887878787  Kolhapur
2  Sachin     4545454545     Delhi
3  Pravin     2323232323   Chennai
4  Mahesh     3232323232  Hydrabad
5  Nikhil     9090909090    Nagpur
6  Nikhil     6767676767    Mumbai
7  Nikhil     9090909090      Pune

In [68]:
data = collection_login.find({},{'_id':0})
df1 = pd.DataFrame(list(data))
df1

     Name          email_id     password
0   Rohit   rohit@gmail.com   Rohit@1234
1  Snahin  sachin@gmail.com  Sachin@1234
2   Dhoni     msd@gmail.com     Msd@1234

In [69]:
df3 = pd.read_csv('Iris.csv')
df3

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [70]:
#Converting csv dataframe to dict
iris_data = df3.to_dict('records')
iris_data

[{'Id': 1,
  'SepalLengthCm': 5.1,
  'SepalWidthCm': 3.5,
  'PetalLengthCm': 1.4,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 2,
  'SepalLengthCm': 4.9,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 1.4,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 3,
  'SepalLengthCm': 4.7,
  'SepalWidthCm': 3.2,
  'PetalLengthCm': 1.3,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 4,
  'SepalLengthCm': 4.6,
  'SepalWidthCm': 3.1,
  'PetalLengthCm': 1.5,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 5,
  'SepalLengthCm': 5.0,
  'SepalWidthCm': 3.6,
  'PetalLengthCm': 1.4,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 6,
  'SepalLengthCm': 5.4,
  'SepalWidthCm': 3.9,
  'PetalLengthCm': 1.7,
  'PetalWidthCm': 0.4,
  'Species': 'Iris-setosa'},
 {'Id': 7,
  'SepalLengthCm': 4.6,
  'SepalWidthCm': 3.4,
  'PetalLengthCm': 1.4,
  'PetalWidthCm': 0.3,
  'Species': 'Iris-setosa'},
 {'Id': 8,
  'SepalLengthCm': 5.0,
  'SepalWidthCm': 3.4,
  'PetalLengthCm': 1.5,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 9,
  'SepalLengthCm': 4.4,
  'SepalWidthCm': 2.9,
  'PetalLengthCm': 1.4,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 10,
  'SepalLengthCm': 4.9,
  'SepalWidthCm': 3.1,
  'PetalLengthCm': 1.5,
  'PetalWidthCm': 0.1,
  'Species': 'Iris-setosa'},
 {'Id': 11,
  'SepalLengthCm': 5.4,
  'SepalWidthCm': 3.7,
  'PetalLengthCm': 1.5,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 12,
  'SepalLengthCm': 4.8,
  'SepalWidthCm': 3.4,
  'PetalLengthCm': 1.6,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 13,
  'SepalLengthCm': 4.8,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 1.4,
  'PetalWidthCm': 0.1,
  'Species': 'Iris-setosa'},
 {'Id': 14,
  'SepalLengthCm': 4.3,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 1.1,
  'PetalWidthCm': 0.1,
  'Species': 'Iris-setosa'},
 {'Id': 15,
  'SepalLengthCm': 5.8,
  'SepalWidthCm': 4.0,
  'PetalLengthCm': 1.2,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 16,
  'SepalLengthCm': 5.7,
  'SepalWidthCm': 4.4,
  'PetalLengthCm': 1.5,
  'PetalWidthCm': 0.4,
  'Species': 'Iris-setosa'},
 {'Id': 17,
  'SepalLengthCm': 5.4,
  'SepalWidthCm': 3.9,
  'PetalLengthCm': 1.3,
  'PetalWidthCm': 0.4,
  'Species': 'Iris-setosa'},
 {'Id': 18,
  'SepalLengthCm': 5.1,
  'SepalWidthCm': 3.5,
  'PetalLengthCm': 1.4,
  'PetalWidthCm': 0.3,
  'Species': 'Iris-setosa'},
 {'Id': 19,
  'SepalLengthCm': 5.7,
  'SepalWidthCm': 3.8,
  'PetalLengthCm': 1.7,
  'PetalWidthCm': 0.3,
  'Species': 'Iris-setosa'},
 {'Id': 20,
  'SepalLengthCm': 5.1,
  'SepalWidthCm': 3.8,
  'PetalLengthCm': 1.5,
  'PetalWidthCm': 0.3,
  'Species': 'Iris-setosa'},
 {'Id': 21,
  'SepalLengthCm': 5.4,
  'SepalWidthCm': 3.4,
  'PetalLengthCm': 1.7,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 22,
  'SepalLengthCm': 5.1,
  'SepalWidthCm': 3.7,
  'PetalLengthCm': 1.5,
  'PetalWidthCm': 0.4,
  'Species': 'Iris-setosa'},
 {'Id': 23,
  'SepalLengthCm': 4.6,
  'SepalWidthCm': 3.6,
  'PetalLengthCm': 1.0,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 24,
  'SepalLengthCm': 5.1,
  'SepalWidthCm': 3.3,
  'PetalLengthCm': 1.7,
  'PetalWidthCm': 0.5,
  'Species': 'Iris-setosa'},
 {'Id': 25,
  'SepalLengthCm': 4.8,
  'SepalWidthCm': 3.4,
  'PetalLengthCm': 1.9,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 26,
  'SepalLengthCm': 5.0,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 1.6,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 27,
  'SepalLengthCm': 5.0,
  'SepalWidthCm': 3.4,
  'PetalLengthCm': 1.6,
  'PetalWidthCm': 0.4,
  'Species': 'Iris-setosa'},
 {'Id': 28,
  'SepalLengthCm': 5.2,
  'SepalWidthCm': 3.5,
  'PetalLengthCm': 1.5,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 29,
  'SepalLengthCm': 5.2,
  'SepalWidthCm': 3.4,
  'PetalLengthCm': 1.4,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 30,
  'SepalLengthCm': 4.7,
  'SepalWidthCm': 3.2,
  'PetalLengthCm': 1.6,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 31,
  'SepalLengthCm': 4.8,
  'SepalWidthCm': 3.1,
  'PetalLengthCm': 1.6,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 32,
  'SepalLengthCm': 5.4,
  'SepalWidthCm': 3.4,
  'PetalLengthCm': 1.5,
  'PetalWidthCm': 0.4,
  'Species': 'Iris-setosa'},
 {'Id': 33,
  'SepalLengthCm': 5.2,
  'SepalWidthCm': 4.1,
  'PetalLengthCm': 1.5,
  'PetalWidthCm': 0.1,
  'Species': 'Iris-setosa'},
 {'Id': 34,
  'SepalLengthCm': 5.5,
  'SepalWidthCm': 4.2,
  'PetalLengthCm': 1.4,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 35,
  'SepalLengthCm': 4.9,
  'SepalWidthCm': 3.1,
  'PetalLengthCm': 1.5,
  'PetalWidthCm': 0.1,
  'Species': 'Iris-setosa'},
 {'Id': 36,
  'SepalLengthCm': 5.0,
  'SepalWidthCm': 3.2,
  'PetalLengthCm': 1.2,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 37,
  'SepalLengthCm': 5.5,
  'SepalWidthCm': 3.5,
  'PetalLengthCm': 1.3,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 38,
  'SepalLengthCm': 4.9,
  'SepalWidthCm': 3.1,
  'PetalLengthCm': 1.5,
  'PetalWidthCm': 0.1,
  'Species': 'Iris-setosa'},
 {'Id': 39,
  'SepalLengthCm': 4.4,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 1.3,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 40,
  'SepalLengthCm': 5.1,
  'SepalWidthCm': 3.4,
  'PetalLengthCm': 1.5,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 41,
  'SepalLengthCm': 5.0,
  'SepalWidthCm': 3.5,
  'PetalLengthCm': 1.3,
  'PetalWidthCm': 0.3,
  'Species': 'Iris-setosa'},
 {'Id': 42,
  'SepalLengthCm': 4.5,
  'SepalWidthCm': 2.3,
  'PetalLengthCm': 1.3,
  'PetalWidthCm': 0.3,
  'Species': 'Iris-setosa'},
 {'Id': 43,
  'SepalLengthCm': 4.4,
  'SepalWidthCm': 3.2,
  'PetalLengthCm': 1.3,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 44,
  'SepalLengthCm': 5.0,
  'SepalWidthCm': 3.5,
  'PetalLengthCm': 1.6,
  'PetalWidthCm': 0.6,
  'Species': 'Iris-setosa'},
 {'Id': 45,
  'SepalLengthCm': 5.1,
  'SepalWidthCm': 3.8,
  'PetalLengthCm': 1.9,
  'PetalWidthCm': 0.4,
  'Species': 'Iris-setosa'},
 {'Id': 46,
  'SepalLengthCm': 4.8,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 1.4,
  'PetalWidthCm': 0.3,
  'Species': 'Iris-setosa'},
 {'Id': 47,
  'SepalLengthCm': 5.1,
  'SepalWidthCm': 3.8,
  'PetalLengthCm': 1.6,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 48,
  'SepalLengthCm': 4.6,
  'SepalWidthCm': 3.2,
  'PetalLengthCm': 1.4,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 49,
  'SepalLengthCm': 5.3,
  'SepalWidthCm': 3.7,
  'PetalLengthCm': 1.5,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 50,
  'SepalLengthCm': 5.0,
  'SepalWidthCm': 3.3,
  'PetalLengthCm': 1.4,
  'PetalWidthCm': 0.2,
  'Species': 'Iris-setosa'},
 {'Id': 51,
  'SepalLengthCm': 7.0,
  'SepalWidthCm': 3.2,
  'PetalLengthCm': 4.7,
  'PetalWidthCm': 1.4,
  'Species': 'Iris-versicolor'},
 {'Id': 52,
  'SepalLengthCm': 6.4,
  'SepalWidthCm': 3.2,
  'PetalLengthCm': 4.5,
  'PetalWidthCm': 1.5,
  'Species': 'Iris-versicolor'},
 {'Id': 53,
  'SepalLengthCm': 6.9,
  'SepalWidthCm': 3.1,
  'PetalLengthCm': 4.9,
  'PetalWidthCm': 1.5,
  'Species': 'Iris-versicolor'},
 {'Id': 54,
  'SepalLengthCm': 5.5,
  'SepalWidthCm': 2.3,
  'PetalLengthCm': 4.0,
  'PetalWidthCm': 1.3,
  'Species': 'Iris-versicolor'},
 {'Id': 55,
  'SepalLengthCm': 6.5,
  'SepalWidthCm': 2.8,
  'PetalLengthCm': 4.6,
  'PetalWidthCm': 1.5,
  'Species': 'Iris-versicolor'},
 {'Id': 56,
  'SepalLengthCm': 5.7,
  'SepalWidthCm': 2.8,
  'PetalLengthCm': 4.5,
  'PetalWidthCm': 1.3,
  'Species': 'Iris-versicolor'},
 {'Id': 57,
  'SepalLengthCm': 6.3,
  'SepalWidthCm': 3.3,
  'PetalLengthCm': 4.7,
  'PetalWidthCm': 1.6,
  'Species': 'Iris-versicolor'},
 {'Id': 58,
  'SepalLengthCm': 4.9,
  'SepalWidthCm': 2.4,
  'PetalLengthCm': 3.3,
  'PetalWidthCm': 1.0,
  'Species': 'Iris-versicolor'},
 {'Id': 59,
  'SepalLengthCm': 6.6,
  'SepalWidthCm': 2.9,
  'PetalLengthCm': 4.6,
  'PetalWidthCm': 1.3,
  'Species': 'Iris-versicolor'},
 {'Id': 60,
  'SepalLengthCm': 5.2,
  'SepalWidthCm': 2.7,
  'PetalLengthCm': 3.9,
  'PetalWidthCm': 1.4,
  'Species': 'Iris-versicolor'},
 {'Id': 61,
  'SepalLengthCm': 5.0,
  'SepalWidthCm': 2.0,
  'PetalLengthCm': 3.5,
  'PetalWidthCm': 1.0,
  'Species': 'Iris-versicolor'},
 {'Id': 62,
  'SepalLengthCm': 5.9,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 4.2,
  'PetalWidthCm': 1.5,
  'Species': 'Iris-versicolor'},
 {'Id': 63,
  'SepalLengthCm': 6.0,
  'SepalWidthCm': 2.2,
  'PetalLengthCm': 4.0,
  'PetalWidthCm': 1.0,
  'Species': 'Iris-versicolor'},
 {'Id': 64,
  'SepalLengthCm': 6.1,
  'SepalWidthCm': 2.9,
  'PetalLengthCm': 4.7,
  'PetalWidthCm': 1.4,
  'Species': 'Iris-versicolor'},
 {'Id': 65,
  'SepalLengthCm': 5.6,
  'SepalWidthCm': 2.9,
  'PetalLengthCm': 3.6,
  'PetalWidthCm': 1.3,
  'Species': 'Iris-versicolor'},
 {'Id': 66,
  'SepalLengthCm': 6.7,
  'SepalWidthCm': 3.1,
  'PetalLengthCm': 4.4,
  'PetalWidthCm': 1.4,
  'Species': 'Iris-versicolor'},
 {'Id': 67,
  'SepalLengthCm': 5.6,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 4.5,
  'PetalWidthCm': 1.5,
  'Species': 'Iris-versicolor'},
 {'Id': 68,
  'SepalLengthCm': 5.8,
  'SepalWidthCm': 2.7,
  'PetalLengthCm': 4.1,
  'PetalWidthCm': 1.0,
  'Species': 'Iris-versicolor'},
 {'Id': 69,
  'SepalLengthCm': 6.2,
  'SepalWidthCm': 2.2,
  'PetalLengthCm': 4.5,
  'PetalWidthCm': 1.5,
  'Species': 'Iris-versicolor'},
 {'Id': 70,
  'SepalLengthCm': 5.6,
  'SepalWidthCm': 2.5,
  'PetalLengthCm': 3.9,
  'PetalWidthCm': 1.1,
  'Species': 'Iris-versicolor'},
 {'Id': 71,
  'SepalLengthCm': 5.9,
  'SepalWidthCm': 3.2,
  'PetalLengthCm': 4.8,
  'PetalWidthCm': 1.8,
  'Species': 'Iris-versicolor'},
 {'Id': 72,
  'SepalLengthCm': 6.1,
  'SepalWidthCm': 2.8,
  'PetalLengthCm': 4.0,
  'PetalWidthCm': 1.3,
  'Species': 'Iris-versicolor'},
 {'Id': 73,
  'SepalLengthCm': 6.3,
  'SepalWidthCm': 2.5,
  'PetalLengthCm': 4.9,
  'PetalWidthCm': 1.5,
  'Species': 'Iris-versicolor'},
 {'Id': 74,
  'SepalLengthCm': 6.1,
  'SepalWidthCm': 2.8,
  'PetalLengthCm': 4.7,
  'PetalWidthCm': 1.2,
  'Species': 'Iris-versicolor'},
 {'Id': 75,
  'SepalLengthCm': 6.4,
  'SepalWidthCm': 2.9,
  'PetalLengthCm': 4.3,
  'PetalWidthCm': 1.3,
  'Species': 'Iris-versicolor'},
 {'Id': 76,
  'SepalLengthCm': 6.6,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 4.4,
  'PetalWidthCm': 1.4,
  'Species': 'Iris-versicolor'},
 {'Id': 77,
  'SepalLengthCm': 6.8,
  'SepalWidthCm': 2.8,
  'PetalLengthCm': 4.8,
  'PetalWidthCm': 1.4,
  'Species': 'Iris-versicolor'},
 {'Id': 78,
  'SepalLengthCm': 6.7,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 5.0,
  'PetalWidthCm': 1.7,
  'Species': 'Iris-versicolor'},
 {'Id': 79,
  'SepalLengthCm': 6.0,
  'SepalWidthCm': 2.9,
  'PetalLengthCm': 4.5,
  'PetalWidthCm': 1.5,
  'Species': 'Iris-versicolor'},
 {'Id': 80,
  'SepalLengthCm': 5.7,
  'SepalWidthCm': 2.6,
  'PetalLengthCm': 3.5,
  'PetalWidthCm': 1.0,
  'Species': 'Iris-versicolor'},
 {'Id': 81,
  'SepalLengthCm': 5.5,
  'SepalWidthCm': 2.4,
  'PetalLengthCm': 3.8,
  'PetalWidthCm': 1.1,
  'Species': 'Iris-versicolor'},
 {'Id': 82,
  'SepalLengthCm': 5.5,
  'SepalWidthCm': 2.4,
  'PetalLengthCm': 3.7,
  'PetalWidthCm': 1.0,
  'Species': 'Iris-versicolor'},
 {'Id': 83,
  'SepalLengthCm': 5.8,
  'SepalWidthCm': 2.7,
  'PetalLengthCm': 3.9,
  'PetalWidthCm': 1.2,
  'Species': 'Iris-versicolor'},
 {'Id': 84,
  'SepalLengthCm': 6.0,
  'SepalWidthCm': 2.7,
  'PetalLengthCm': 5.1,
  'PetalWidthCm': 1.6,
  'Species': 'Iris-versicolor'},
 {'Id': 85,
  'SepalLengthCm': 5.4,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 4.5,
  'PetalWidthCm': 1.5,
  'Species': 'Iris-versicolor'},
 {'Id': 86,
  'SepalLengthCm': 6.0,
  'SepalWidthCm': 3.4,
  'PetalLengthCm': 4.5,
  'PetalWidthCm': 1.6,
  'Species': 'Iris-versicolor'},
 {'Id': 87,
  'SepalLengthCm': 6.7,
  'SepalWidthCm': 3.1,
  'PetalLengthCm': 4.7,
  'PetalWidthCm': 1.5,
  'Species': 'Iris-versicolor'},
 {'Id': 88,
  'SepalLengthCm': 6.3,
  'SepalWidthCm': 2.3,
  'PetalLengthCm': 4.4,
  'PetalWidthCm': 1.3,
  'Species': 'Iris-versicolor'},
 {'Id': 89,
  'SepalLengthCm': 5.6,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 4.1,
  'PetalWidthCm': 1.3,
  'Species': 'Iris-versicolor'},
 {'Id': 90,
  'SepalLengthCm': 5.5,
  'SepalWidthCm': 2.5,
  'PetalLengthCm': 4.0,
  'PetalWidthCm': 1.3,
  'Species': 'Iris-versicolor'},
 {'Id': 91,
  'SepalLengthCm': 5.5,
  'SepalWidthCm': 2.6,
  'PetalLengthCm': 4.4,
  'PetalWidthCm': 1.2,
  'Species': 'Iris-versicolor'},
 {'Id': 92,
  'SepalLengthCm': 6.1,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 4.6,
  'PetalWidthCm': 1.4,
  'Species': 'Iris-versicolor'},
 {'Id': 93,
  'SepalLengthCm': 5.8,
  'SepalWidthCm': 2.6,
  'PetalLengthCm': 4.0,
  'PetalWidthCm': 1.2,
  'Species': 'Iris-versicolor'},
 {'Id': 94,
  'SepalLengthCm': 5.0,
  'SepalWidthCm': 2.3,
  'PetalLengthCm': 3.3,
  'PetalWidthCm': 1.0,
  'Species': 'Iris-versicolor'},
 {'Id': 95,
  'SepalLengthCm': 5.6,
  'SepalWidthCm': 2.7,
  'PetalLengthCm': 4.2,
  'PetalWidthCm': 1.3,
  'Species': 'Iris-versicolor'},
 {'Id': 96,
  'SepalLengthCm': 5.7,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 4.2,
  'PetalWidthCm': 1.2,
  'Species': 'Iris-versicolor'},
 {'Id': 97,
  'SepalLengthCm': 5.7,
  'SepalWidthCm': 2.9,
  'PetalLengthCm': 4.2,
  'PetalWidthCm': 1.3,
  'Species': 'Iris-versicolor'},
 {'Id': 98,
  'SepalLengthCm': 6.2,
  'SepalWidthCm': 2.9,
  'PetalLengthCm': 4.3,
  'PetalWidthCm': 1.3,
  'Species': 'Iris-versicolor'},
 {'Id': 99,
  'SepalLengthCm': 5.1,
  'SepalWidthCm': 2.5,
  'PetalLengthCm': 3.0,
  'PetalWidthCm': 1.1,
  'Species': 'Iris-versicolor'},
 {'Id': 100,
  'SepalLengthCm': 5.7,
  'SepalWidthCm': 2.8,
  'PetalLengthCm': 4.1,
  'PetalWidthCm': 1.3,
  'Species': 'Iris-versicolor'},
 {'Id': 101,
  'SepalLengthCm': 6.3,
  'SepalWidthCm': 3.3,
  'PetalLengthCm': 6.0,
  'PetalWidthCm': 2.5,
  'Species': 'Iris-virginica'},
 {'Id': 102,
  'SepalLengthCm': 5.8,
  'SepalWidthCm': 2.7,
  'PetalLengthCm': 5.1,
  'PetalWidthCm': 1.9,
  'Species': 'Iris-virginica'},
 {'Id': 103,
  'SepalLengthCm': 7.1,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 5.9,
  'PetalWidthCm': 2.1,
  'Species': 'Iris-virginica'},
 {'Id': 104,
  'SepalLengthCm': 6.3,
  'SepalWidthCm': 2.9,
  'PetalLengthCm': 5.6,
  'PetalWidthCm': 1.8,
  'Species': 'Iris-virginica'},
 {'Id': 105,
  'SepalLengthCm': 6.5,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 5.8,
  'PetalWidthCm': 2.2,
  'Species': 'Iris-virginica'},
 {'Id': 106,
  'SepalLengthCm': 7.6,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 6.6,
  'PetalWidthCm': 2.1,
  'Species': 'Iris-virginica'},
 {'Id': 107,
  'SepalLengthCm': 4.9,
  'SepalWidthCm': 2.5,
  'PetalLengthCm': 4.5,
  'PetalWidthCm': 1.7,
  'Species': 'Iris-virginica'},
 {'Id': 108,
  'SepalLengthCm': 7.3,
  'SepalWidthCm': 2.9,
  'PetalLengthCm': 6.3,
  'PetalWidthCm': 1.8,
  'Species': 'Iris-virginica'},
 {'Id': 109,
  'SepalLengthCm': 6.7,
  'SepalWidthCm': 2.5,
  'PetalLengthCm': 5.8,
  'PetalWidthCm': 1.8,
  'Species': 'Iris-virginica'},
 {'Id': 110,
  'SepalLengthCm': 7.2,
  'SepalWidthCm': 3.6,
  'PetalLengthCm': 6.1,
  'PetalWidthCm': 2.5,
  'Species': 'Iris-virginica'},
 {'Id': 111,
  'SepalLengthCm': 6.5,
  'SepalWidthCm': 3.2,
  'PetalLengthCm': 5.1,
  'PetalWidthCm': 2.0,
  'Species': 'Iris-virginica'},
 {'Id': 112,
  'SepalLengthCm': 6.4,
  'SepalWidthCm': 2.7,
  'PetalLengthCm': 5.3,
  'PetalWidthCm': 1.9,
  'Species': 'Iris-virginica'},
 {'Id': 113,
  'SepalLengthCm': 6.8,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 5.5,
  'PetalWidthCm': 2.1,
  'Species': 'Iris-virginica'},
 {'Id': 114,
  'SepalLengthCm': 5.7,
  'SepalWidthCm': 2.5,
  'PetalLengthCm': 5.0,
  'PetalWidthCm': 2.0,
  'Species': 'Iris-virginica'},
 {'Id': 115,
  'SepalLengthCm': 5.8,
  'SepalWidthCm': 2.8,
  'PetalLengthCm': 5.1,
  'PetalWidthCm': 2.4,
  'Species': 'Iris-virginica'},
 {'Id': 116,
  'SepalLengthCm': 6.4,
  'SepalWidthCm': 3.2,
  'PetalLengthCm': 5.3,
  'PetalWidthCm': 2.3,
  'Species': 'Iris-virginica'},
 {'Id': 117,
  'SepalLengthCm': 6.5,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 5.5,
  'PetalWidthCm': 1.8,
  'Species': 'Iris-virginica'},
 {'Id': 118,
  'SepalLengthCm': 7.7,
  'SepalWidthCm': 3.8,
  'PetalLengthCm': 6.7,
  'PetalWidthCm': 2.2,
  'Species': 'Iris-virginica'},
 {'Id': 119,
  'SepalLengthCm': 7.7,
  'SepalWidthCm': 2.6,
  'PetalLengthCm': 6.9,
  'PetalWidthCm': 2.3,
  'Species': 'Iris-virginica'},
 {'Id': 120,
  'SepalLengthCm': 6.0,
  'SepalWidthCm': 2.2,
  'PetalLengthCm': 5.0,
  'PetalWidthCm': 1.5,
  'Species': 'Iris-virginica'},
 {'Id': 121,
  'SepalLengthCm': 6.9,
  'SepalWidthCm': 3.2,
  'PetalLengthCm': 5.7,
  'PetalWidthCm': 2.3,
  'Species': 'Iris-virginica'},
 {'Id': 122,
  'SepalLengthCm': 5.6,
  'SepalWidthCm': 2.8,
  'PetalLengthCm': 4.9,
  'PetalWidthCm': 2.0,
  'Species': 'Iris-virginica'},
 {'Id': 123,
  'SepalLengthCm': 7.7,
  'SepalWidthCm': 2.8,
  'PetalLengthCm': 6.7,
  'PetalWidthCm': 2.0,
  'Species': 'Iris-virginica'},
 {'Id': 124,
  'SepalLengthCm': 6.3,
  'SepalWidthCm': 2.7,
  'PetalLengthCm': 4.9,
  'PetalWidthCm': 1.8,
  'Species': 'Iris-virginica'},
 {'Id': 125,
  'SepalLengthCm': 6.7,
  'SepalWidthCm': 3.3,
  'PetalLengthCm': 5.7,
  'PetalWidthCm': 2.1,
  'Species': 'Iris-virginica'},
 {'Id': 126,
  'SepalLengthCm': 7.2,
  'SepalWidthCm': 3.2,
  'PetalLengthCm': 6.0,
  'PetalWidthCm': 1.8,
  'Species': 'Iris-virginica'},
 {'Id': 127,
  'SepalLengthCm': 6.2,
  'SepalWidthCm': 2.8,
  'PetalLengthCm': 4.8,
  'PetalWidthCm': 1.8,
  'Species': 'Iris-virginica'},
 {'Id': 128,
  'SepalLengthCm': 6.1,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 4.9,
  'PetalWidthCm': 1.8,
  'Species': 'Iris-virginica'},
 {'Id': 129,
  'SepalLengthCm': 6.4,
  'SepalWidthCm': 2.8,
  'PetalLengthCm': 5.6,
  'PetalWidthCm': 2.1,
  'Species': 'Iris-virginica'},
 {'Id': 130,
  'SepalLengthCm': 7.2,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 5.8,
  'PetalWidthCm': 1.6,
  'Species': 'Iris-virginica'},
 {'Id': 131,
  'SepalLengthCm': 7.4,
  'SepalWidthCm': 2.8,
  'PetalLengthCm': 6.1,
  'PetalWidthCm': 1.9,
  'Species': 'Iris-virginica'},
 {'Id': 132,
  'SepalLengthCm': 7.9,
  'SepalWidthCm': 3.8,
  'PetalLengthCm': 6.4,
  'PetalWidthCm': 2.0,
  'Species': 'Iris-virginica'},
 {'Id': 133,
  'SepalLengthCm': 6.4,
  'SepalWidthCm': 2.8,
  'PetalLengthCm': 5.6,
  'PetalWidthCm': 2.2,
  'Species': 'Iris-virginica'},
 {'Id': 134,
  'SepalLengthCm': 6.3,
  'SepalWidthCm': 2.8,
  'PetalLengthCm': 5.1,
  'PetalWidthCm': 1.5,
  'Species': 'Iris-virginica'},
 {'Id': 135,
  'SepalLengthCm': 6.1,
  'SepalWidthCm': 2.6,
  'PetalLengthCm': 5.6,
  'PetalWidthCm': 1.4,
  'Species': 'Iris-virginica'},
 {'Id': 136,
  'SepalLengthCm': 7.7,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 6.1,
  'PetalWidthCm': 2.3,
  'Species': 'Iris-virginica'},
 {'Id': 137,
  'SepalLengthCm': 6.3,
  'SepalWidthCm': 3.4,
  'PetalLengthCm': 5.6,
  'PetalWidthCm': 2.4,
  'Species': 'Iris-virginica'},
 {'Id': 138,
  'SepalLengthCm': 6.4,
  'SepalWidthCm': 3.1,
  'PetalLengthCm': 5.5,
  'PetalWidthCm': 1.8,
  'Species': 'Iris-virginica'},
 {'Id': 139,
  'SepalLengthCm': 6.0,
  'SepalWidthCm': 3.0,
  'PetalLengthCm': 4.8,
  'PetalWidthCm': 1.8,
  'Species': 'Iris-virginica'},
 {'Id': 140,
  'SepalLengthCm': 6.9,
  'SepalWidthCm': 3.1,
  'PetalLengthCm': 5.4,
  'PetalWidthCm': 2.1,
  'Species': 'Iris-virginica'},
 {'Id': 141,
  'SepalLengthCm': 6.7,
  'SepalWidthCm': 3.1,
  'PetalLengthCm': 5.6,
  'PetalWidthCm': 2.4,
  'Species': 'Iris-virginica'},
 {'Id': 142,
  'SepalLengthCm': 6.9,
  'SepalWidthCm': 3.1,
  'PetalLengthCm': 5.1,
  'PetalWidthCm': 2.3,
  'Species': 'Iris-virginica'},
 {'Id': 143,
  'SepalLengthCm': 5.8,
  'SepalWidthCm': 2.7,
  'PetalLengthCm': 5.1,
  'PetalWidthCm': 1.9,
  'Species': 'Iris-virginica'},
 {'Id': 144,
  'SepalLengthCm': 6.8,
  'SepalWidthCm': 3.2,
  'PetalLengthCm': 5.9,
  'PetalWidthCm': 2.3,
  'Species': 'Iris-virginica'},
 {'Id': 145,
  'SepalLengthCm': 6.7,
  'SepalWidthCm': 3.3,
  'PetalLengthCm': 5.7,
  'PetalWidthCm': 2.5,
  'Species': 'Iris-virginica'},
 {'Id': 146,
  'SepalLengthCm': 6.7,

In [71]:
collection_iris = db['iris_details']

In [72]:
#imported csv is converted to dataframe and then inserted to mongodb

iris_data = df3.to_dict('records')
iris_data
collection_iris.insert_many(iris_data)

### Finding data using regular expression

In [73]:
data = collection_user.find({},{'_id':0})
list(data)

[{'Name': 'Ankit', 'Mobile Number': 9130083200, 'Place': 'Pune'},
 {'Name': 'Mukesh', 'Mobile Number': 87887878787, 'Place': 'Kolhapur'},
 {'Name': 'Sachin', 'Mobile Number': 4545454545, 'Place': 'Delhi'},
 {'Name': 'Pravin', 'Mobile Number': 2323232323, 'Place': 'Chennai'},
 {'Name': 'Mahesh', 'Mobile Number': 3232323232, 'Place': 'Hydrabad'},
 {'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Nagpur'},
 {'Name': 'Nikhil', 'Mobile Number': 6767676767, 'Place': 'Mumbai'},
 {'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Pune'}]

In [74]:
# records with name starting with M
data = collection_user.find({'Name':{'$regex':'^M'}},{'_id':0})
list(data)

[{'Name': 'Mukesh', 'Mobile Number': 87887878787, 'Place': 'Kolhapur'},
 {'Name': 'Mahesh', 'Mobile Number': 3232323232, 'Place': 'Hydrabad'}]

In [75]:
data = collection_user.find({'Name':{'$regex':'^N'}},{'_id':0})
list(data)

[{'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Nagpur'},
 {'Name': 'Nikhil', 'Mobile Number': 6767676767, 'Place': 'Mumbai'},
 {'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Pune'}]

In [82]:
# records with name ending with n
data = collection_user.find({'Name':{'$regex':'n$'}},{'_id':0})
list(data)

[{'Name': 'Sachin', 'Mobile Number': 4545454545, 'Place': 'Delhi'},
 {'Name': 'Pravin', 'Mobile Number': 2323232323, 'Place': 'Chennai'}]

In [85]:
# user name starting with N and greater than N
data = collection_user.find({'Name':{'$gt':'N'}},{'_id':0})
list(data)

[{'Name': 'Sachin', 'Mobile Number': 4545454545, 'Place': 'Delhi'},
 {'Name': 'Pravin', 'Mobile Number': 2323232323, 'Place': 'Chennai'},
 {'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Nagpur'},
 {'Name': 'Nikhil', 'Mobile Number': 6767676767, 'Place': 'Mumbai'},
 {'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Pune'}]

In [87]:
#Limiting the output to 3 rec only
data = collection_user.find({'Name':{'$gt':'N'}},{'_id':0}).limit(3)
list(data)

[{'Name': 'Sachin', 'Mobile Number': 4545454545, 'Place': 'Delhi'},
 {'Name': 'Pravin', 'Mobile Number': 2323232323, 'Place': 'Chennai'},
 {'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Nagpur'}]

## 3. Delete

### 3.1 delete_one()

In [90]:
collection_user.delete_one({'Name':'Sachin'})

In [91]:
collection_user.delete_one({'Name':'Nikhil'})

In [92]:
collection_user.delete_one({'Name':'Nikhil', 'Place':'Mumbai'})

### 3.2 delete_many()

In [94]:
query = {'Name':{'$regex':'^S'}}
collection_user.delete_one(query)

## delete Collection

In [95]:
collection_iris.drop()

## 4 Update

### 4.1 update_one()

In [99]:
old_query = {'Name':'Dhoni'}
new_query = {"$set":{'Name':'MS Dhoni'}}
collection_login.update_one(old_query, new_query)

### 4.2 update_many()

In [101]:
old_query = {'Place':'Pune'}
new_query = {"$set":{'Place':'Banguluru'}}
collection_user.update_many(old_query, new_query)

## 5. Sorting

### 5.1 Ascending Sort

In [102]:
data = collection_user.find({},{'_id':0}).sort('Name')
list(data)

[{'Name': 'Ankit', 'Mobile Number': 9130083200, 'Place': 'Banguluru'},
 {'Name': 'Mahesh', 'Mobile Number': 3232323232, 'Place': 'Banguluru'},
 {'Name': 'Mahesh', 'Mobile Number': 3232323232, 'Place': 'Hydrabad'},
 {'Name': 'Mukesh', 'Mobile Number': 87887878787, 'Place': 'Kolhapur'},
 {'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Banguluru'},
 {'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Banguluru'},
 {'Name': 'Pravin', 'Mobile Number': 2323232323, 'Place': 'Chennai'},
 {'Name': 'Pravin', 'Mobile Number': 2323232323, 'Place': 'Chennai'}]

In [105]:
data = collection_user.find({},{'_id':0}).sort('Name', -1)
list(data)

[{'Name': 'Pravin', 'Mobile Number': 2323232323, 'Place': 'Chennai'},
 {'Name': 'Pravin', 'Mobile Number': 2323232323, 'Place': 'Chennai'},
 {'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Banguluru'},
 {'Name': 'Nikhil', 'Mobile Number': 9090909090, 'Place': 'Banguluru'},
 {'Name': 'Mukesh', 'Mobile Number': 87887878787, 'Place': 'Kolhapur'},
 {'Name': 'Mahesh', 'Mobile Number': 3232323232, 'Place': 'Banguluru'},
 {'Name': 'Mahesh', 'Mobile Number': 3232323232, 'Place': 'Hydrabad'},
 {'Name': 'Ankit', 'Mobile Number': 9130083200, 'Place': 'Banguluru'}]

In [104]:
data = collection_login.find({},{'_id':0}).sort('password',-1)
list(data)

[{'Name': 'Snahin', 'email_id': 'sachin@gmail.com', 'password': 'Sachin@1234'},
 {'Name': 'Rohit', 'email_id': 'rohit@gmail.com', 'password': 'Rohit@1234'},
 {'Name': 'MS Dhoni', 'email_id': 'msd@gmail.com', 'password': 'Msd@1234'}]