Pandas series is one dimesional dataframe/ array.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [3]:
s1=pd.Series(dtype=float)
s1

Series([], dtype: float64)

In [4]:
s1=pd.Series([2.1,3,5,7],dtype=float)
s1

0    2.1
1    3.0
2    5.0
3    7.0
dtype: float64

In [5]:
df=pd.DataFrame(s1)
df

     0
0  2.1
1  3.0
2  5.0
3  7.0

In [8]:
type(df[0])

pandas.core.series.Series

In [11]:
df[1]=pd.Series([8,9,4,np.NaN])
print(type(df[1]))
df

<class 'pandas.core.series.Series'>

     0    1
0  2.1  8.0
1  3.0  9.0
2  5.0  4.0
3  7.0  NaN