## How to access items in Set

In [3]:
set1={2,100,54,67,89}
print(set1)
for i in set1:
    print(i)

{2, 67, 100, 54, 89}
2
67
100
54
89

# Set Functions

remove,
discard,
pop
clear
del

## Remove

removes the unrequire elements from the set provided the element is present
if the item is not presentt then it throws an error

In [5]:
set1={2,100,54,67,89,'engineering','medical'}
print(set1)
set1.remove(100)
print(set1)

{2, 67, 100, 'medical', 'engineering', 54, 89}
{2, 67, 'medical', 'engineering', 54, 89}

In [6]:
set1={2,100,54,67,89,'engineering','medical'}
print(set1)
set1.remove(22)
print(set1)

{2, 67, 100, 'medical', 'engineering', 54, 89}

KeyError: 22

## Discard

It does not throw any error even if the item is not present

In [7]:
set1={2,100,54,67,89,'engineering','medical'}
print(set1)
set1.discard('medical')
print(set1)

{2, 67, 100, 'medical', 'engineering', 54, 89}
{2, 67, 100, 'engineering', 54, 89}

In [8]:
set1={2,100,54,67,89,'engineering','medical'}
print(set1)
set1.discard('Pharma')
print(set1)

{2, 67, 100, 'medical', 'engineering', 54, 89}
{2, 67, 100, 'medical', 'engineering', 54, 89}

## Pop

It deletes any random element

In [9]:
set1={2,100,54,67,89,'engineering','medical'}
print(set1)
set1.pop('Pharma')
print(set1)

{2, 67, 100, 'medical', 'engineering', 54, 89}

TypeError: pop() takes no arguments (1 given)

In [10]:
set1={2,100,54,67,89,'engineering','medical'}
print(set1)
set1.pop()
print(set1)

{2, 67, 100, 'medical', 'engineering', 54, 89}
{67, 100, 'medical', 'engineering', 54, 89}

In [11]:
set2= {67, 100, 'medical', 'engineering', 54, 89}  
set2.pop()
set2

{100, 54, 89, 'engineering', 'medical'}

In [16]:
set2.pop()
set2

set()

## clear

clears the entire set & leave an empty set

In [17]:
set1={2,100,54,67,89,'engineering','medical'}
print(set1)
set1.clear()
print(set1)

{2, 67, 100, 'medical', 'engineering', 54, 89}
set()

In [20]:
set1={2,100,54,67,89,'engineering','medical'}
print(set1)
clear(set1[100])
print(set1)

{2, 67, 100, 'medical', 'engineering', 54, 89}

NameError: name 'clear' is not defined

### del

In [21]:
set1={2,100,54,67,89,'engineering','medical'}
del set1
set1

NameError: name 'set1' is not defined

In [22]:
set1={2,100,54,67,89,'engineering','medical'}
del set1[5]
set1

TypeError: 'set' object doesn't support item deletion

# Addition functions

## add

In [24]:
set1={2,100,54,67,89,'engineering','medical'}
print(set1)
set1.add(1000)
set1

{2, 67, 100, 'medical', 'engineering', 54, 89}

{100, 1000, 2, 54, 67, 89, 'engineering', 'medical'}

## update

In [ ]:
no need of using separate variable

In [32]:
set1={2,100,54,67,89,'engineering','medical'}
print(set1)
set2=(1000,2000,3000)
set1.update(set2)
set1

{2, 67, 100, 'medical', 'engineering', 54, 89}

{100, 1000, 2, 2000, 3000, 54, 67, 89, 'engineering', 'medical'}

In [29]:
set1={2,100,54,67,89,'engineering','medical'}
print(set1)
set2={1000}
set1.update(1000)
set1

{2, 67, 100, 'medical', 'engineering', 54, 89}

TypeError: 'int' object is not iterable

In [33]:
set1={2,100,54,67,89,'engineering','medical'}
print(set1)
set2={1000,2000}
set3={-30,-40}
set1.update(set2,set3)
set1

{2, 67, 100, 'medical', 'engineering', 54, 89}

{-30, -40, 100, 1000, 2, 2000, 54, 67, 89, 'engineering', 'medical'}

## Union

union need separate variable to store the change

In [35]:
set1={2,100,54,67,89,'engineering','medical'}
print(set1)
set2=(1000,2000,3000)     # we may use any iterator
set1=set1.union(set2)
set1

{2, 67, 100, 'medical', 'engineering', 54, 89}

{100, 1000, 2, 2000, 3000, 54, 67, 89, 'engineering', 'medical'}

In [39]:
set1={2,100,54,67,89,'engineering','medical'}
print(set1)
set2=('there')     # we may use any iterator
set1=set1.union(set2)
set1

{2, 67, 100, 'medical', 'engineering', 54, 89}

{100, 2, 54, 67, 89, 'e', 'engineering', 'h', 'medical', 'r', 't'}

In [40]:
set1={2,100,54,67,89,'engineering','medical'}
print(set1)
set2={1000,2000}
set3={-30,-40}
set1=set1.union(set2,set3)
set1

{2, 67, 100, 'medical', 'engineering', 54, 89}

{-30, -40, 100, 1000, 2, 2000, 54, 67, 89, 'engineering', 'medical'}

## Intersection

basically gives away the common items from the sets
needs a separate variable to stroe the change

In [42]:
set1={'Pune','Chennai','Kanpur','Delhi'}
set2= {'Nagpur','Delhi','Pune','Banaras'}
set1.update(set2)
set1

{'Banaras', 'Chennai', 'Delhi', 'Kanpur', 'Nagpur', 'Pune'}

In [44]:
set1={'Pune','Chennai','Kanpur','Delhi'}
set2= {'Nagpur','Delhi','Pune','Banaras'}
set1=set1.intersection(set2)
set1

{'Delhi', 'Pune'}

In [47]:
set1={'Pune','Chennai','Kanpur','Delhi'}
set2= {'Nagpur','Delhi','Pune','Banaras'}
set3={'Delhi','Noida','Sangali'}
set4=set1.intersection(set2,set3)
set4

{'Delhi'}

## Intersection update

In [46]:
set1={'Pune','Chennai','Kanpur','Delhi'}
set2= {'Nagpur','Delhi','Pune','Banaras'}
set1.intersection_update(set2)
set1

{'Delhi', 'Pune'}

## Difference

In [48]:
set1={'Pune','Chennai','Kanpur','Delhi'}
set2= {'Nagpur','Delhi','Pune','Banaras'}
set3=set1.difference(set2)
set3

{'Chennai', 'Kanpur'}

In [50]:
set1={'Pune','Chennai','Kanpur','Delhi'}

set2= {'Nagpur','Pune','Banaras'}

set3={'Delhi','Noida','Sangali'}

set4=set1.difference(set2,set3)
set4

{'Chennai', 'Kanpur'}

## difference update

In [54]:
set1={'Pune','Chennai','Kanpur','Delhi'}

set2= {'Nagpur','Pune','Banaras'}

set3={'Delhi','Noida','Sangali'}

set1.difference_update(set2,set3)
set1

{'Chennai', 'Kanpur'}

In [56]:
set1={'Pune','Chennai','Kanpur','Delhi'}

set2= {'Nagpur','Pune','Banaras'}

set3={'Delhi','Noida','Sangali'}

set2.difference_update(set1,set3)
set2

{'Banaras', 'Nagpur'}

In [57]:
set1={'Pune','Chennai','Kanpur','Delhi'}

set2= {'Pune','Chennai','Kanpur','Delhi'}

set3={'Delhi','Noida','Sangali'}

set2.difference_update(set1,set3)
set2

set()

## Symmetric difference

In [66]:
set1={'Pune','Chennai','Kanpur','Delhi'}

set2= ['Nagpur','Pune','Banaras']    #iterators are aceptable

set3=set1.symmetric_difference(set2)
set3

{'Banaras', 'Chennai', 'Delhi', 'Kanpur', 'Nagpur'}

## symmetric difference update

In [68]:
set1={'Pune','Chennai','Kanpur','Delhi'}

set2= ['Nagpur','Pune','Banaras']    #iterators are aceptable

set1.symmetric_difference_update(set2)
set1

{'Banaras', 'Chennai', 'Delhi', 'Kanpur', 'Nagpur'}

## Isdisjoint

In [69]:
set1={'Pune','Chennai','Kanpur','Delhi'}

set2= ['Nagpur','Pune','Banaras']    #iterators are aceptable

set1.isdisjoint(set2)

False

In [70]:
set1={'Pune','Chennai','Kanpur','Delhi'}

set2= ['Nagpur','Banaras']    #iterators are aceptable

set1.isdisjoint(set2)

True

## issubset

In [71]:
set1={'Pune','Chennai','Kanpur','Delhi'}

set2= {'Pune','Delhi'}    

set2.issubset(set1)

True

In [73]:
set1=['Pune','Chennai','Kanpur','Delhi']    ##can be any iterable
 
set2= {'Pune','Nagpur'}    

set2.issubset(set1)

False

## Superset

In [75]:
set1={'Pune','Chennai','Kanpur','Delhi','Nagpur'}    
 
set2= {'Pune','Nagpur'}    ##can be any iterable

set1.issuperset(set2)

True

In [74]:
set1={'Pune','Chennai','Kanpur','Delhi'}    
 
set2= {'Pune','Nagpur'}    ##can be any iterable

set1.issuperset(set2)

False

In [ ]:
Min,
Max,
Len,
Sum,
All,
Any

these functions are gonna remain same

In [76]:
sum({2,100,54,67,89})

312