Variables are subset of Idenifyers.

In [1]:
data= 56
new_data = data

new_data

56

In [ ]:
myvar
myVar
MYVAR
MyVar
My_Var
My__Var
My^var 
My&Var 
myvariable
Myvar1234
123Myvar 
a
b
a_b
abc
_abc
A_B_C
myV@r  
any  
MYVAR123
import  
elif 
Any 
Import

In [ ]:
variable = 5
variable2 = variable

<B><Font color = Red><font size=5> Strings

Define: String is a collection of characters that we give in single, double or triple inverted commas.
Is a data type in python.

In [1]:
'hi this is python class'
"Hi welcome to the 2nd class"
"""As of 1 July 2009, it is the fourth-largest stadium in the FA Premier League and the twelfth-largest in the United Kingdom, with 47,726 seats. The highest attendance for a football game at the stadium was on 5 December 2009 when 47,348 fans watched Manchester City play Chelsea. Manchester City F.C. signed an agreement with Manchester City Council in March 2010 to allow redevelopment of land around the stadium. This may include adding more seats to make 60,000 in the stadium. Outside the football season, the stadium hosts concerts. It is one of the UK's largest music venues. It has a maximum capacity of 60,000 for performances."""

"As of 1 July 2009, it is the fourth-largest stadium in the FA Premier League and the twelfth-largest in the United Kingdom, with 47,726 seats. The highest attendance for a football game at the stadium was on 5 December 2009 when 47,348 fans watched Manchester City play Chelsea. Manchester City F.C. signed an agreement with Manchester City Council in March 2010 to allow redevelopment of land around the stadium. This may include adding more seats to make 60,000 in the stadium. Outside the football season, the stadium hosts concerts. It is one of the UK's largest music venues. It has a maximum capacity of 60,000 for performances."

In [20]:
"lets not join too late's for the class"

"lets not join too late's for the class"

In [3]:
vari = 'hi this is python class'
vari

'hi this is python class'

In [4]:
'hi this is python class'
'this is 2nd line'

'this is 2nd line'

### print function & display function

In [6]:
from Ipython.diplay import diplay

ModuleNotFoundError: No module named 'Ipython'

In [10]:
display('hi this is python class')
display('this is 2nd line')
"hi"

'hi this is python class'

'this is 2nd line'

'hi'

In [11]:
print('hi this is python class')
'hello'

hi this is python class

'hello'

In [13]:
print(400)
display(455)

400

455

#### use of \n

In [14]:
print("Welcome to Python class. \nThis is really intresting")

Welcome to Python class.
This is really intresting

#### use of \t

In [16]:
print("Welcome to Python class. \tThis is really intresting")

Welcome to Python class. 	This is really intresting

#### escape character \

In [22]:
print("Welcome to Python class. \"This is really intresting\"")

Welcome to Python class. "This is really intresting"

In [41]:
print('Try this new thing', end= ' *** ')
print('Hi,how does that sound?')

Try this new thing *** Hi,how does that sound?

In [31]:
print('this is new','what follows this', sep= ' there you go ')

this is new there you go what follows this

In [33]:
print('hi','hello',sep= ' there ')

hi there hello

In [42]:
print('hi', end='\n')
print('python')

hi
python

In [36]:
new_string = 'http://localhost:8890/notebooks/Python%20Classes/1.2.1%20Strings.ipynb'
new_string

'http://localhost:8890/notebooks/Python%20Classes/1.2.1%20Strings.ipynb'

#### use of raw string

In [39]:
r"C:\Users\Pratik\Documents\My_Docs"

'C:\\Users\\Pratik\\Documents\\My_Docs'

## Comments in Python

define: 
    explain a code
    not use a line as a code
    prevent execution when testing the code
    using #
    using ctrl + /

In [46]:
# I'm going to write a code below
variable2="hello"
# print('jack is back')
variable2

'hello'

In [47]:
'hi this is 2nd class' #this is not the first class

'hi this is 2nd class'

In [48]:
# """As of 1 July 2009, it is the fourth-largest stadium in the FA Premier League and the twelfth-largest in the United Kingdom, with 47,726 seats. The highest attendance for a football game at the stadium was on 5 December 2009 when 47,348 fans watched Manchester City play Chelsea. Manchester City F.C. signed an agreement with Manchester City Council in March 2010 to allow redevelopment of land around the stadium. This may include adding more seats to make 60,000 in the stadium. Outside the football season, the stadium hosts concerts. It is one of the UK's largest music venues. It has a maximum capacity of 60,000 for performances."""

##### IndentationError

In [50]:
a = 10
   b = 20

IndentationError: unexpected indent (<ipython-input-50-c31dd43ac6cb>, line 2)

### Data Types

Text : Str
Numeric : int, float, complex
sequence : list, tuple, range
Set DT: set, forzen set
mapping: dict(key value pair)
Boolean : True False

### Numeric data types

In [54]:
a = 5
a

5

5 >> integer (int)
5.5  >> Float(float)
5 + 5j >> complex

Integers : whole numbers that could be +ve or -ve numbers (- infinity to + infinity)
without decimals

float : numbers in decimal format (+ve or -ve numbers)
    
complex : nums with real & imaginary part

In [55]:
type(-11)

int

In [56]:
type(23.045)

float

In [57]:
type(3+4j)

complex

In [58]:
type('hi')

str

In [59]:
abs(3+4j)

5.0

In [60]:
abs(4+3j)

5.0

In [61]:
abs(12+5j)

13.0

Conversion of data types
we can convert int to float & float to int
we can not convert complex to int & float
but we can convert int or float to complex

In [62]:
int(13.50)

13

In [63]:
float(13)

13.0

In [64]:
int(3+4j)

TypeError: can't convert complex to int

In [65]:
float(3+4j)

TypeError: can't convert complex to float

In [69]:
my_num = complex(3)
print(my_num)
type(my_num)

(3+0j)

complex

##### What all ways we can print a statement with variables.....

In [72]:
a=5
b=10
print("the value of a & b are",a,'&', 10)

the value of a & b are 5 & 10

In [75]:
a=5
b=10
print("the value of a is {a} & b is {b}")

the value of a is {a} & b is {b}

In [78]:
a=5
b='amazing'
print(f"the value of a is {a} & this is {b}")

the value of a is 5 & this is amazing

In [84]:
x=5.5
y='string'
print('value of a =%i & b is =%s'%(x,y))

value of a =5 & b is =string

In [85]:
print('the value of x is {} & y is {}'.format(x,y))

the value of x 5.5 & y string is

In [ ]:
print('x=%')