## /b

check for charchters at the begenning & at the end of the word
nothing should be there in continuation before \b if its in the beggening & nothing should be there after \b if its at the end.

In [14]:
import re
bank_details= '''IFSC dodes:
                ASSBIN00013454  #Invalid
                HDFC00045672
                8ICIC834920
                AXIS8976456H
                AXIS478G3289
                AXIS7854934567   #INVALID'''

ifsc = re.findall(r"\b[A-Z]{4}[0-9]{8}\b",bank_details)
ifsc

['HDFC00045672']

In [21]:
text = """MY Mobile number is 8206049253
            98563214567
             & my mail56 id is pratik.k@vctcpune.com
             my alternate number is +91 6426537651 """
#10 digits number

mobile_numbers=re.findall(r'\d{10}',text)
mobile_numbers

['8206049253', '8563214567', '6426537651']

In [22]:
text = """MY Mobile number is 8206049253
            98563214567
             & my mail56 id is pratik.k@vctcpune.com
             my alternate number is +91 6426537651 """
#10 digits number

mobile_numbers=re.findall(r'\b\d{10}',text)
mobile_numbers

['8206049253', '9856321456', '6426537651']

In [23]:
text = """MY Mobile number is 8206049253
            98563214567
             & my mail56 id is pratik.k@vctcpune.com
             my alternate number is +91 6426537651 """
#10 digits number

mobile_numbers=re.findall(r'\d{10}\b',text)
mobile_numbers

['8206049253', '8563214567', '6426537651']

In [36]:
text = """MY Mobile number is 8206049253
            98563214567
            5123645796
& my mail56 id is pratik.k@vctcpune.com
                              my alternate number is +91 6426537651 
             my alternate mail id is paratikkanpurwar@gmail.com & another mail id is pratik_kanpurwar@co.in
             pratik.kanpurwar@vctcpune.com"""
#10 digits number

mobile_numbers=re.findall(r'\b\d{10}\b',text)
print(mobile_numbers)
mails=re.findall('[A-Za-z0-9._]{2,20}[@][A-Za-z]{5,10}[.][A-Za-z]{3}',text)
mails

['8206049253', '5123645796', '6426537651']

['pratik.k@vctcpune.com',
 'paratikkanpurwar@gmail.com',
 'pratik.kanpurwar@vctcpune.com']

In [37]:
processed_data={"contact":mobile_numbers,"Mail Id's":mails}

In [38]:
import pandas
dataframe=pandas.DataFrame(processed_data)
dataframe

      contact                      Mail Id's
0  8206049253          pratik.k@vctcpune.com
1  5123645796     paratikkanpurwar@gmail.com
2  6426537651  pratik.kanpurwar@vctcpune.com

In [39]:
dataframe.T

                               0                           1                              2
contact               8206049253                  5123645796                     6426537651
Mail Id's  pratik.k@vctcpune.com  paratikkanpurwar@gmail.com  pratik.kanpurwar@vctcpune.com

In [41]:
dataframe.to_excel("final data.xlsx")

In [ ]:
\d
\D
\s
\S
\w
\W
\b

# Re Functions

## Findall()

## Finditer()

## Search

It searches for a match & returns an object of the first occurance only
re.search(pattern, string)

In [46]:
text = """MY Mobile number is 8206049253
            98563214567
            5123645796
& my mail56 id is pratik.k@vctcpune.com
                              my alternate number is +91 6426537651 
             my alternate mail id is paratikkanpurwar@gmail.com & another mail id is pratik_kanpurwar@co.in
             pratik.kanpurwar@vctcpune.com"""
#10 digits number

mobile_numbers=re.search(r'\b\d{10}\b',text)
print(mobile_numbers)

<re.Match object; span=(20, 30), match='8206049253'>

(20, 30)

In [47]:
mobile_numbers.span()

(20, 30)

In [51]:
mobile_numbers.group()

'8206049253'

In [53]:
mobile_numbers.start()

20

In [55]:
mobile_numbers.end()

30

In [64]:
text = """MY Mobile number is 8206049253
            98563214567
            5123645796
& my mail56 id is pratik.k@vctcpune.com
                              my alternate number is +91 6426537651 
             my alternate mail id is paratikkanpurwar@gmail.com & another mail id is pratik_kanpurwar@co.in
             pratik.kanpurwar@vctcpune.com"""
#10 digits number

mobile_numbers=re.finditer(r'\b\d{10}\b',text)
list(mobile_numbers)[-1].group()

'6426537651'

## Match()

Checks for the zero index item. it that matches then it returns an object.

In [98]:
text = """MY Mobile number is 8206049253
            98563214567
            5123645796
& my mail56 id is pratik.k@vctcpune.com
                              my alternate number is +91 6426537651 
             my alternate mail id is paratikkanpurwar@gmail.com & another mail id is pratik_kanpurwar@co.in
             pratik.kanpurwar@vctcpune.com"""
#10 digits number

mobile_numbers=re.match('MY',text)
if mobile_numbers:
    print(mobile_numbers.span(),mobile_numbers.group())
else:
    print("match not found")

(0, 2) MY

In [99]:
text = """MY Mobile number is 8206049253
            98563214567
            5123645796
& my mail56 id is pratik.k@vctcpune.com
                              my alternate number is +91 6426537651 
             my alternate mail id is paratikkanpurwar@gmail.com & another mail id is pratik_kanpurwar@co.in
             pratik.kanpurwar@vctcpune.com"""
#10 digits number

mobile_numbers=re.match(r'\bMY',text)
if mobile_numbers:
    print(mobile_numbers.span(),mobile_numbers.group())
else:
    print("match not found")

(0, 2) MY

In [72]:
mobile_numbers.span()

(0, 2)

In [73]:
mobile_numbers.start()

0

In [74]:
mobile_numbers.end()

2

In [75]:
mobile_numbers.group()

'MY'

## Sub

It is used to replace all the formats that matches our pattern with the substring

In [103]:
string = "Python & Data Scince Learning"
string.replace('Python','ML')

'ML & Data Scince Learning'

In [110]:
string = "Python & Data Scince Learning Programming"
re.sub(r'\bP[a-z]{6,15}\b','ML',string)

'Python & Data Scince Learning ML'

In [118]:
text = """Mobile is: 8206049253           #valid
            A98563214567                  #invalid
            51236B45796                   #Invalid
            """
data=re.sub('\d','+',text)
data

'Mobile is: ++++++++++           #valid\n            A+++++++++++                  #invalid\n            +++++B+++++                   #Invalid\n            '

In [120]:
text = """Mobile is: 8206049253           #valid
            A98563214567                  #invalid
            51236B45796                   #Invalid
            """
data=re.sub('\s+',' ',text)
data

'Mobile is: 8206049253 #valid A98563214567 #invalid 51236B45796 #Invalid '

In [126]:
text = """Mobile is: 8206049253           #valid
            A9856321456                   #Invalid
            B5123645796                   #Invalid
            54368C65242"""
data=re.sub('[A-Z]','',text)
data=re.findall(r'\b[0-9]{10}\b',data)
data

['8206049253', '9856321456', '5123645796', '5436865242']

In [125]:
text = """Mobile is: 8206049253           #valid
            A9856321456                   #Invalid
            B5123645796                   #Invalid
            54368C65242"""
re.findall(r'\d{10}',text)

['8206049253', '9856321456', '5123645796']

In [ ]:
# E

In [ ]:
python program to find the minimum sum of factors of a number.

In [150]:
def findminfactor(num):
    factors = []
#for num in range(5,100):
    for i in range(1,num+1):
#    count = 0
        if num % i ==0:
            print(i,end = '   ')
        
            print(i ,'*',int((num/i)), '= ',i+ int(num/i))
            factors.append(i+ int(num/i))
    print(factors)
    print('Therefor the minimum sum is: ',min(factors))
    
findminfactor(16*16)

1   1 * 256 =  257
2   2 * 128 =  130
4   4 * 64 =  68
8   8 * 32 =  40
16   16 * 16 =  32
32   32 * 8 =  40
64   64 * 4 =  68
128   128 * 2 =  130
256   256 * 1 =  257
[257, 130, 68, 40, 32, 40, 68, 130, 257]
Therefor the minimum sum is:  32

In [140]:
from sympy import primerange as pmrr
from sympy import isprime as pr
from numpy import prod as mult


def min_sum_factors(number):
    
    prime_nos=[i for i in pmrr(1,number)]
    #print(prime_nos)
    conclusion=[1]
    new_no=number
    
    for i in prime_nos:        
        
        if new_no%i==0:
            
            conclusion.append(i)
            
    if mult(conclusion)!=number:
        
        result=int(new_no/mult(conclusion))        
        conclusion.append(result)
    
    for prn in prime_nos:        
    
        for ind,num in enumerate(conclusion):
            
            if not pr(conclusion[ind]):               

                xyz=conclusion[ind]                
                
                if xyz%prn==0:
                    
                    conclusion.remove(xyz)                   
                    
                    if mult(conclusion)!=number:
                        
                        result=int(xyz/prn)
                        conclusion.append(result)
                        conclusion.append(int(xyz/result))
                        
    print("conc:",conclusion)    
    print(f"Minimun sum of factors of a \"{number}\" is",sum(conclusion))

#===================================================== function ends here =============================================

min_sum_factors(81*9*9)

conc: [1, 3, 729, 3]
Minimun sum of factors of a "6561" is 736

In [ ]:
[1, 3, [3, 3, 81], 3]

a = 1
def get_all_factors(x):
    if a = 1:
    for i in range(a)
    if a > 1:

In [141]:
def prime_factors(n):
    i = 2
    factors = []
    while i * i <= n:
        if n % i:
            i += 1
        else:
            n //= i
            factors.append(i)
    if n > 1:
        factors.append(n)
    return factors

In [153]:
prime_factors(5)

[5]

In [154]:
4 % 2

0